Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*

Add Socket mock that increased the code coverage
  client/package-lock.json
  client/package.json
  client/src/app/components/communication-box/communication-box.component.spec.ts
Due: install:client, build:client, lint:client, test:client

Add mock method
  client/src/app/components/communication-box/communication-box.component.spec.ts
Due: build:client, lint:client, test:client

Increase code coverage with socket tests
  client/src/app/classes/serverside-socket-helper.ts
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/services/messaging/messaging.service.spec.ts
Due: build:client, lint:client, test:client

Fix reserve display
  client/src/app/components/communication-box/communication-box.component.scss
  client/src/app/services/game/game.service.ts
Due: build:client, lint:client, test:client

Remove unnecessary else if in room controller
  server/app/controllers/room.controller.ts
Due: build:server, lint:server, test:server

Change message type in debug mode
  client/src/app/services/commands/commands.service.ts
Due: build:client, lint:client, test:client

Change return type of actions in player service
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/messaging/messaging.service.ts
  client/src/app/services/player/player.service.ts
Due: build:client, lint:client, test:client

Now using handlers to manage sessions
  client/src/app/services/end-game/end-game.service.ts
  client/src/app/services/socket-client/socket-client.service.ts
  server/app/classes/session-handler.ts
  server/app/classes/validation/board-validator-factory.ts
  server/app/classes/virtual-player/play-generator.spec.ts
  server/app/classes/virtual-player/play-generator.ts
  server/app/controllers/board.controller.ts
  server/app/handlers/board-handler/board-handler.spec.ts
  server/app/handlers/board-handler/board-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/board/board-generator.service.spec.ts
  server/app/services/board/board-generator.service.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Now using GameConfig interfaces
  common/game-config.ts
  common/index.ts
  common/socket-commands.ts
  server/app/classes/player-info.ts
  server/app/classes/session-info.ts
  server/app/controllers/board.controller.ts
  server/app/controllers/game.controller.ts
  server/app/controllers/room.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/board/board-generator.service.spec.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
Due: build:server, lint:server, test:server

Added player interface
  server/app/app.ts
  server/app/classes/player/human-player.ts
  server/app/classes/player/player.ts
  server/app/controllers/game.controller.ts
  server/app/controllers/room.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
Due: build:server, lint:server, test:server

Added gameConfig to SessionService
  .eslintrc.json
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/components/end-game/end-game.component.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/session/session.service.ts
  common/game-config.ts
  server/app/services/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Now using virtual player as a handler
  server/app/handlers/virtual-player/actions/action.ts
  server/app/handlers/virtual-player/actions/exchange-action.spec.ts
  server/app/handlers/virtual-player/actions/exchange-action.ts
  server/app/handlers/virtual-player/actions/place-action.spec.ts
  server/app/handlers/virtual-player/actions/place-action.ts
  server/app/handlers/virtual-player/actions/play-action.spec.ts
  server/app/handlers/virtual-player/actions/play-action.ts
  server/app/handlers/virtual-player/actions/skip-action.spec.ts
  server/app/handlers/virtual-player/actions/skip-action.ts
  server/app/handlers/virtual-player/virtual-player-action.service.spec.ts
  server/app/handlers/virtual-player/virtual-player-action.ts
  server/app/handlers/virtual-player/virtual-player.service.spec.ts
  server/app/handlers/virtual-player/virtual-player.ts
  server/app/services/virtual-player/actions/exchange-action.ts
  server/app/services/virtual-player/virtual-player-action.service.ts
  server/app/services/virtual-player/virtual-player.service.spec.ts
  server/app/services/virtual-player/virtual-player.service.ts
Due: build:server, lint:server, test:server

Added ReserveHandler
  server/app/classes/player-data.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/handlers/board-handler/board-handler.spec.ts
  server/app/handlers/reserve-handler/reserve-handler.spec.ts
  server/app/handlers/reserve-handler/reserve-handler.ts
Due: build:server, lint:server, test:server

Improved virtual player implementation
  client/src/app/constants/global.constants.ts
  client/src/app/constants/virtual-player.constants.ts
  server/app/classes/player-info.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.ts
  server/app/classes/player/virtual-player/actions/action.ts
  server/app/classes/player/virtual-player/actions/exchange-action.spec.ts
  server/app/classes/player/virtual-player/actions/exchange-action.ts
  server/app/classes/player/virtual-player/actions/place-action.spec.ts
  server/app/classes/player/virtual-player/actions/place-action.ts
  server/app/classes/player/virtual-player/actions/play-action.spec.ts
  server/app/classes/player/virtual-player/actions/play-action.ts
  server/app/classes/player/virtual-player/actions/skip-action.spec.ts
  server/app/classes/player/virtual-player/actions/skip-action.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/config.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/handlers/virtual-player/actions/play-action.ts
  server/app/handlers/virtual-player/actions/skip-action.spec.ts
  server/app/handlers/virtual-player/virtual-player-action.service.spec.ts
  server/app/handlers/virtual-player/virtual-player-action.ts
  server/app/handlers/virtual-player/virtual-player.ts
  server/package-lock.json
  server/package.json
Due: install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Virtual game can now be generated
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/messaging/messaging.service.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/timer/timer.service.spec.ts
  common/player-type.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Added ReserveController
  client/src/app/services/game/game.service.ts
  server/app/controllers/reserve.controller.ts
  server/app/handlers/reserve-handler/reserve-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Transferred PlayerService logic to HumanPlayer
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/reserve/reserve.service.ts
  common/message.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/services/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Added PlayerController
  server/app/app.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/controllers/player.controller.ts
Due: build:server, lint:server, test:server

PlayerService now use rest calls
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/services/board/board.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/reserve/reserve.service.ts
  server/app/controllers/player.controller.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Multiple bugfixes
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/services/board/board.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/rack/rack.service.ts
  client/src/app/services/reserve/reserve.service.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/controllers/board.controller.ts
  server/app/controllers/player.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

VirtualPlayer is now called by client
  client/src/app/services/player/player.service.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  server/app/controllers/player.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Default board is initialised on client to prevent errors
  client/src/app/services/board/board.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/rack/rack.service.ts
  server/app/controllers/player.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed virtual-player server side bugs
  client/src/app/services/board/board.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/rack/rack.service.ts
  client/src/app/services/reserve/reserve.service.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  common/answer.ts
  common/index.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/classes/virtual-player/play-generator.ts
  server/app/controllers/player.controller.ts
  server/app/services/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed and commented unit tests
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/end-game/end-game.component.spec.ts
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/reserve/reserve.service.spec.ts
  server/app/classes/player/virtual-player/actions/exchange-action.spec.ts
  server/app/classes/player/virtual-player/actions/place-action.spec.ts
  server/app/classes/player/virtual-player/actions/play-action.spec.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/handlers/reserve-handler/reserve-handler.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Boolean value is used to identify player type on server
  client/src/app/classes/player/player-type.ts
  client/src/app/components/board/board/board.component.ts
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/board/board.service.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/messaging/messaging.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/reserve/reserve.service.ts
  client/src/app/services/timer/timer.service.spec.ts
  client/src/app/services/timer/timer.service.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  client/src/environments/environment-ext.ts
  client/tsconfig.json
  common/index.ts
  common/message.ts
  server/app/classes/player-info.ts
  server/app/controllers/board.controller.ts
  server/app/controllers/player.controller.ts
  server/app/services/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed server path
  client/src/app/services/player/player.service.ts
  client/src/app/services/reserve/reserve.service.ts
  client/src/environments/environment-ext.ts
Due: build:client, lint:client, test:client

selection of the square is working
  client/src/app/components/board/board/board.component.html
  client/src/app/components/board/board/board.component.scss
  client/src/app/components/board/board/board.component.ts
  client/src/app/services/grid/grid.service.ts
Due: build:client, lint:client, test:client

letter can now be written in selected square
  client/src/app/components/board/board/board.component.ts
  client/src/app/services/grid/grid.service.ts
Due: build:client, lint:client, test:client

writing in the two direction
  client/src/app/components/board/board/board.component.ts
Due: build:client, lint:client, test:client

can only add letter from rack
  client/src/app/components/board/board/board.component.ts
  client/src/app/services/grid/grid.service.ts
Due: build:client, lint:client, test:client

backspace now working
  client/src/app/components/board/board/board.component.ts
Due: build:client, lint:client, test:client

Implementation in progress of socket commands
  common/message.ts
  server/app/app.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/controllers/room.controller.ts
  server/app/server.ts
  server/app/services/socket-service.ts
Due: build:server, lint:server, test:server

Implemented SocketService
  server/app/app.ts
  server/app/classes/session-data.ts
  server/app/config.ts
  server/app/controllers/room.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/handlers/socket-handler/socket-handler.ts
  server/app/server.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
  server/app/services/socket-service.ts
Due: build:server, lint:server, test:server

Server now allow socket room in single player
  server/app/classes/session-data.ts
  server/app/config.ts
  server/app/controllers/room.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
Due: build:server, lint:server, test:server

Server now allow socket room in single player
  server/app/classes/session-data.ts
  server/app/config.ts
  server/app/controllers/room.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
  server/app/services/socket-service.ts
Due: build:server, lint:server, test:server

Add socket join for single player mode
  client/src/app/services/game/game.service.ts
  client/src/app/services/timer/timer.service.ts
  server/app/controllers/room.controller.spec.ts
  server/app/controllers/room.controller.ts
  server/app/services/socket-service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

handle available square and written word
  client/src/app/components/board/board/board.component.ts
  client/src/app/services/board/board.service.ts
Due: build:client, lint:client, test:client

Added multiplayer rest requests
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/session/session.service.ts
  common/game-config.ts
  server/app/constants.ts
  server/app/controllers/board.controller.ts
  server/app/controllers/game.controller.ts
  server/app/controllers/player.controller.ts
  server/app/controllers/reserve.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed colors in communication box and other mistakes in UI
  client/src/app/components/communication-box/communication-box.component.html
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/components/play-area/play-area.component.html
  client/src/app/components/play-area/play-area.component.scss
  client/src/app/components/rack/rack.component.html
  client/src/app/constants/global.constants.ts
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/pages/game-page/game-page.component.spec.ts
Due: build:client, lint:client, test:client

letter remove from rack and play button add
  client/src/app/components/board/board/board.component.html
  client/src/app/components/board/board/board.component.scss
  client/src/app/components/board/board/board.component.ts
  client/src/app/services/board/board.service.ts
Due: build:client, lint:client, test:client
