Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

install:client:
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push

install:server:
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push

build:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
  ...

build:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
  ...

lint:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:client
  allow_failure: true
  script:
  - cd client
  ...

lint:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:server
  allow_failure: true
  script:
  - cd server
  ...

test:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:client
  script:
  ...

test:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - npm run coverage
  ...

Update letter quantity
  client/src/app/services/reserve/reserve.service.spec.ts
  client/src/app/services/reserve/reserve.service.ts
Due: build:client, lint:client, test:client

Fix lint and format
  client/src/app/components/confirm-quit-dialog/confirm-quit-dialog.component.html
  client/src/app/services/reserve/reserve.service.spec.ts
  client/src/app/services/reserve/reserve.service.ts
  client/src/index.html
Due: build:client, lint:client, test:client

Update reserve.service.spec.ts
  client/src/app/services/reserve/reserve.service.spec.ts
Due: build:client, lint:client, test:client

Now shuffles Bonuses if mustShuffle of board service is at true
  client/src/app/constants/global.constants.ts
  client/src/app/services/board/board.service.ts
Due: build:client, lint:client, test:client

Now using common interfaces on client
  client/src/app/classes/board/board.spec.ts
  client/src/app/classes/board/board.ts
  client/src/app/classes/board/square.ts
  client/src/app/classes/letter.ts
  client/src/app/classes/validation/board-validator.spec.ts
  client/src/app/classes/validation/board-validator.ts
  client/src/app/classes/validation/validation.ts
  client/src/app/classes/virtual-player/play-generator.spec.ts
  client/src/app/classes/virtual-player/play-generator.ts
  client/src/app/classes/virtual-player/play.ts
  client/src/app/components/rack/rack.component.ts
  client/src/app/constants/grid.constants.ts
  client/src/app/services/board/board.service.spec.ts
  client/src/app/services/board/board.service.ts
  client/src/app/services/board/mock-board.service.spec.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/grid/grid.service.ts
  client/src/app/services/mouse-handling/mouse-handling.service.spec.ts
  client/src/app/services/mouse-handling/mouse-handling.service.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/reserve/reserve.service.ts
  client/src/app/services/validation/board-validator-generator.service.ts
  client/src/app/services/virtual-player/actions/place-action.spec.ts
  client/tsconfig.json
Due: build:client, lint:client, test:client

init-game base on the game type
  client/src/app/app.module.ts
  client/src/app/classes/game-type.ts
  client/src/app/components/init-solo-mode/init-solo-mode.component.html
  client/src/app/components/init-solo-mode/init-solo-mode.component.scss
  client/src/app/components/init-solo-mode/init-solo-mode.component.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
Due: build:client, lint:client, test:client

Added services to server
  server/app/config.ts
  server/app/services/board/board.service.spec.ts
  server/app/services/board/board.service.ts
  server/app/services/board/mock-board.service.spec.ts
  server/app/services/dictionary/dictionary.service.spec.ts
  server/app/services/dictionary/dictionary.service.ts
  server/app/services/validation/board-validator-generator.service.spec.ts
  server/app/services/validation/board-validator-generator.service.ts
Due: build:server, lint:server, test:server

finish the modification of mainPage, gameModePage and InitSoloMode
  client/src/app/components/init-solo-mode/init-solo-mode.component.html
  client/src/app/components/init-solo-mode/init-solo-mode.component.ts
  client/src/app/modules/material.module.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/main-page/main-page.component.html
Due: build:client, lint:client, test:client

Replaced [Vec2, Bonus] type for interface BonusInfos
  client/src/app/classes/board/board.spec.ts
  client/src/app/classes/board/board.ts
  client/src/app/classes/board/bonus.ts
  client/src/app/classes/validation/board-validator.spec.ts
  client/src/app/constants/global.constants.ts
  client/src/app/services/board/board.service.ts
  client/src/app/services/grid/grid.service.spec.ts
Due: build:client, lint:client, test:client

Fixed mustShuffle = false
  client/src/app/services/board/board.service.ts
Due: build:client, lint:client, test:client

Minimal coverage is now 50%
  server/package.json
Due: build:server, lint:server, test:server

Beginning of understanding how server works
  server/app/app.ts
  server/app/controllers/room.controller.spec.ts
  server/app/controllers/room.controller.ts
  server/app/server.ts
  server/package-lock.json
  server/package.json
Due: install:server, build:server, lint:server, test:server

Add client side of server communication
  client/package-lock.json
  client/package.json
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
Due: install:client, build:client, lint:client, test:client

Now counts the number of occurences of certain bonus type
  client/src/app/classes/board/bonus.ts
  client/src/app/services/board/board.service.ts
Due: build:client, lint:client, test:client

Added webstorm configuration
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/log2990-301.iml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

Added Start and End game rest calls
  .gitlab-ci.yml
  .idea/codeStyles/Project.xml
  .idea/encodings.xml
  server/app/app.ts
  server/app/classes/id.ts
  server/app/classes/request-answer.ts
  server/app/classes/session-handler.ts
  server/app/classes/session-info.ts
  server/app/controllers/game.controller.ts
  server/app/services/board/board.service.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
  server/app/services/validation/validation.service.ts
Due: build:server, lint:server, test:server

Added more common interfaces
  common/board-data.ts
  common/bonus.ts
  common/index.ts
  common/placement.ts
  common/square.ts
  common/tsconfig.json
Due: none

BoardHandlingService replaces BoardService
  server/app/app.ts
  server/app/classes/board/board-handler.ts
  server/app/classes/board/board.spec.ts
  server/app/classes/board/board.ts
  server/app/classes/validation/board-validator-factory.ts
  server/app/classes/validation/board-validator.spec.ts
  server/app/classes/validation/board-validator.ts
  server/app/classes/validation/validation.ts
  server/app/classes/virtual-player/play-generator.ts
  server/app/config.ts
  server/app/constants.ts
  server/app/controllers/board.controller.ts
  server/app/controllers/game.controller.ts
  server/app/services/board/board.service.ts
  server/app/services/board/mock-board.service.spec.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
  server/app/services/validation/board-handling.service.spec.ts
  server/app/services/validation/board-handling.service.ts
  server/app/services/validation/board-validator-generator.service.ts
  server/app/services/validation/validation.service.ts
Due: build:server, lint:server, test:server

Removed validation interface
  server/app/classes/board/board-handler.ts
  server/app/classes/validation/validation.ts
  server/app/classes/virtual-player/play-generator.ts
Due: build:server, lint:server, test:server

Added BoardController implementation
  server/app/classes/board/board-handler.ts
  server/app/classes/board/board.ts
  server/app/constants.ts
  server/app/controllers/board.controller.ts
  server/app/controllers/game.controller.ts
Due: build:server, lint:server, test:server

Now using Placement interface on server
  server/app/classes/board/board-handler.ts
  server/app/classes/board/board.ts
  server/app/classes/validation/board-validator.spec.ts
  server/app/classes/validation/board-validator.ts
  server/app/classes/virtual-player/play-generator.spec.ts
  server/app/classes/virtual-player/play.ts
  server/app/services/board/board.service.spec.ts
Due: build:server, lint:server, test:server

Fixed server unit tests
  server/app/classes/board/board-handler.spec.ts
  server/app/classes/board/board-handler.ts
  server/app/classes/validation/board-validator-factory.ts
  server/app/classes/virtual-player/play-generator.spec.ts
  server/app/classes/virtual-player/play-generator.ts
  server/app/services/board/board.service.spec.ts
  server/app/services/validation/board-handling.service.spec.ts
Due: build:server, lint:server, test:server

Added node modules aliases
  server/package.json
Due: build:server, lint:server, test:server

Now using uuid package
  server/app/classes/board/board.spec.ts
  server/app/classes/id.ts
  server/package-lock.json
  server/package.json
Due: install:server, build:server, lint:server, test:server

Added webstorm configurations
  .idea/runConfigurations/build_server.xml
  .idea/runConfigurations/start_server.xml
  .idea/runConfigurations/test_client.xml
  .idea/runConfigurations/test_server.xml
Due: none

Added swagger documentation
  .idea/runConfigurations/before_merge.xml
  .idea/runConfigurations/build_client.xml
  .idea/runConfigurations/lint_client.xml
  .idea/runConfigurations/lint_server.xml
  server/app/app.ts
  server/app/classes/answer.ts
  server/app/classes/board/board-handler.ts
  server/app/classes/request-answer.ts
  server/app/classes/session-handler.ts
  server/app/classes/session-info.ts
  server/app/controllers/board.controller.ts
  server/app/controllers/game.controller.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
  server/app/services/validation/board-handling.service.spec.ts
Due: build:server, lint:server, test:server

- Add sockets for chat - Remove unused services and controllers - Bring back auto-scrolling in the chat
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/messaging/messaging.service.ts
  server/app/app.ts
  server/app/controllers/date.controller.spec.ts
  server/app/controllers/date.controller.ts
  server/app/controllers/example.controller.spec.ts
  server/app/controllers/example.controller.ts
  server/app/controllers/room.controller.ts
  server/app/message.ts
  server/app/player-type.ts
  server/app/services/date.service.spec.ts
  server/app/services/date.service.ts
  server/app/services/example.service.spec.ts
  server/app/services/example.service.ts
  server/package-lock.json
Due: install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Fix module resolution error
  server/app/app.ts
  server/nodemon.json
  server/package.json
Due: build:server, lint:server, test:server

Move common classes
  client/src/app/classes/message.ts
  client/src/app/classes/player-type.ts
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/components/init-solo-mode/init-solo-mode.component.spec.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  client/src/app/services/messaging/messaging.service.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/timer/timer.service.spec.ts
  client/src/app/services/timer/timer.service.ts
  client/src/app/services/virtual-player/actions/exchange-action.spec.ts
  client/src/app/services/virtual-player/actions/exchange-action.ts
  client/src/app/services/virtual-player/actions/play-action.spec.ts
  client/src/app/services/virtual-player/actions/play-action.ts
  client/src/app/services/virtual-player/virtual-player.service.spec.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  common/message.ts
  common/player-type.ts
  server/app/controllers/room.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Small improvements
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/services/commands/commands.service.ts
Due: build:client, lint:client, test:client

Changed Vec2, Bonus type to BonusInfos interface
  client/src/app/services/board/board.service.ts
  common/bonus.ts
  server/app/classes/board/board-handler.ts
  server/app/classes/board/board.spec.ts
  server/app/classes/board/board.ts
  server/app/classes/validation/board-validator.spec.ts
  server/app/services/validation/board-handling.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

fix
  common/bonus.ts
  package.json
Due: none

Adding VirtualPlayerService to client
  server/app/services/virtual-player/actions/action.ts
  server/app/services/virtual-player/actions/exchange-action.spec.ts
  server/app/services/virtual-player/actions/exchange-action.ts
  server/app/services/virtual-player/actions/place-action.spec.ts
  server/app/services/virtual-player/actions/place-action.ts
  server/app/services/virtual-player/actions/play-action.spec.ts
  server/app/services/virtual-player/actions/play-action.ts
  server/app/services/virtual-player/actions/skip-action.spec.ts
  server/app/services/virtual-player/actions/skip-action.ts
  server/app/services/virtual-player/virtual-player-action.service.spec.ts
  server/app/services/virtual-player/virtual-player-action.service.ts
  server/app/services/virtual-player/virtual-player.service.spec.ts
  server/app/services/virtual-player/virtual-player.service.ts
Due: build:server, lint:server, test:server

ValidationResponse is now in common libraries
  common/index.ts
  common/validation-response.ts
  server/app/classes/board/board-handler.spec.ts
  server/app/classes/board/board-handler.ts
  server/app/classes/validation/board-validator.ts
  server/app/classes/virtual-player/play-generator.spec.ts
  server/app/services/virtual-player/actions/place-action.spec.ts
Due: build:server, lint:server, test:server

Removed unused client classes
  client/src/app/classes/virtual-player/play-generator.spec.ts
  client/src/app/classes/virtual-player/play-generator.ts
  client/src/app/classes/virtual-player/play.ts
  client/src/app/services/board/board.service.spec.ts
  client/src/app/services/board/board.service.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/grid/grid.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/virtual-player/actions/action.ts
  client/src/app/services/virtual-player/actions/exchange-action.spec.ts
  client/src/app/services/virtual-player/actions/exchange-action.ts
  client/src/app/services/virtual-player/actions/place-action.spec.ts
  client/src/app/services/virtual-player/actions/place-action.ts
  client/src/app/services/virtual-player/actions/play-action.spec.ts
  client/src/app/services/virtual-player/actions/play-action.ts
  client/src/app/services/virtual-player/actions/skip-action.spec.ts
  client/src/app/services/virtual-player/actions/skip-action.ts
  client/src/app/services/virtual-player/virtual-player-action.service.spec.ts
  client/src/app/services/virtual-player/virtual-player-action.service.ts
  client/src/app/services/virtual-player/virtual-player.service.spec.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
Due: build:client, lint:client, test:client

- Create waiting room component - Add socket handling feature in MessagingService and RoomController
  client/src/app/app.module.ts
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/modules/material.module.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  client/src/app/services/messaging/messaging.service.ts
  common/socket-commands.ts
  server/app/controllers/room.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Using Placement interface
  server/app/classes/answer.ts
  server/app/classes/board/board-handler.spec.ts
  server/app/classes/board/board-handler.ts
  server/app/classes/validation/board-validator.spec.ts
  server/app/classes/validation/board-validator.ts
  server/app/classes/virtual-player/play-generator.spec.ts
  server/app/controllers/board.controller.ts
  server/app/controllers/game.controller.ts
  server/app/services/virtual-player/actions/place-action.spec.ts
  server/app/services/virtual-player/virtual-player.service.ts
Due: build:server, lint:server, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
