Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*

removed useless .and.stub
  client/src/app/components/init-game/init-game.component.spec.ts
Due: build:client, lint:client, test:client

all classes have good responsaility
  server/app/handlers/reserve-handler/reserve-handler.spec.ts
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

that was a lie, now it is at 100
  client/src/app/components/init-game/init-game.component.spec.ts
Due: build:client, lint:client, test:client

Pulling development destroyed tests so it is fixed by making navigate spy global to all tests
  client/src/app/components/init-game/init-game.component.spec.ts
Due: build:client, lint:client, test:client

Tooltip hover on the right and displays line breaks
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
  client/src/styles.scss
Due: build:client, lint:client, test:client

Added server readme
  server/README.md
Due: build:server, lint:server, test:server

- Add coverage for SessionStatsHandler
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.spec.ts
Due: build:server, lint:server, test:server

all function are public/private/protected
  client/src/app/pages/game-page/game-page.component.ts
  server/app/classes/validation/board-validator.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Improved gitlab deploy:pages config
  .gitlab-ci.yml
  client/src/app/modules/app-routing.module.ts
  server/sample.env
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Restructure init game component
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/init-game/init-game.component.scss
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/pages/main-page/main-page.component.scss
Due: build:client, lint:client, test:client

Added ConnectionErrorPage
  .idea/watcherTasks.xml
  client/src/app/app.module.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/connection-error/connection-error.component.html
  client/src/app/pages/connection-error/connection-error.component.scss
  client/src/app/pages/connection-error/connection-error.component.spec.ts
  client/src/app/pages/connection-error/connection-error.component.ts
Due: build:client, lint:client, test:client

- Fix auto-scrolling gap when new message
  client/src/app/components/communication-box/communication-box.component.html
  client/src/app/components/communication-box/communication-box.component.ts
Due: build:client, lint:client, test:client

Fix ui of main pages
  client/src/app/components/init-game/init-game.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.scss
Due: build:client, lint:client, test:client

Fix lint in client
  client/src/app/components/virtual-player-name/virtual-player-name.component.spec.ts
Due: build:client, lint:client, test:client

Added healthcheck
  client/src/app/pages/connection-error/connection-error.component.html
  client/src/app/pages/connection-error/connection-error.component.scss
  server/Dockerfile
  server/app/app.ts
  server/app/server.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Remove unnecessary else statement
  client/src/app/components/virtual-player-name/virtual-player-name.component.ts
Due: build:client, lint:client, test:client

Add missing expects in init game tests
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/components/init-game/init-game.component.ts
Due: build:client, lint:client, test:client

Added client health checks
  client/src/app/pages/admin-page/admin-page.component.ts
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/services/admin/admin.service.ts
  client/src/app/services/health/health.service.spec.ts
  client/src/app/services/health/health.service.ts
Due: build:client, lint:client, test:client

Now displaying textures tiles
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/services/grid/grid.service.spec.ts
  client/src/app/services/grid/grid.service.ts
Due: build:client, lint:client, test:client

Fixed unit tests
  client/src/app/pages/main-page/main-page.component.spec.ts
Due: build:client, lint:client, test:client

Fix room list structure and ui
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
Due: build:client, lint:client, test:client

Replaced base PlayAction with ConsoleFormatter
  server/app/classes/player/console-formatter/console-formatter.spec.ts
  server/app/classes/player/console-formatter/console-formatter.ts
  server/app/classes/player/virtual-player/actions/play-action.spec.ts
  server/app/classes/player/virtual-player/actions/play-action.ts
  server/app/classes/player/virtual-player/virtual-player-easy/actions/play-action-easy.ts
  server/app/classes/player/virtual-player/virtual-player-expert/actions/play-action-expert.ts
Due: build:server, lint:server, test:server

Fix waiting room component buttons
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/main-page/main-page.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
Due: build:client, lint:client, test:client

Add color theme in game page component
  client/src/app/components/toolbar/toolbar.component.scss
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/pages/main-page/main-page.component.scss
  client/src/custom-theme.scss
  client/src/styles.scss
Due: build:client, lint:client, test:client

Refactor board and bonus colors
  client/src/app/components/communication-box/communication-box.component.html
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/components/rack/rack.component.scss
  client/src/app/constants/global.constants.ts
  client/src/app/services/grid/grid.service.ts
Due: build:client, lint:client, test:client

fix test and lint in client
  client/src/app/components/board/board.component.spec.ts
  client/src/app/components/board/board.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/place-letter/place-letter.service.ts
  server/app/classes/validation/board-validator.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

fix constructor of board component
  client/src/app/components/board/board.component.ts
Due: build:client, lint:client, test:client

Score is not added to leaderboard when game is abandoned
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

- Fix SessionStatsHandler tests
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.spec.ts
Due: build:server, lint:server, test:server

Fixed scroll unit test
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
Due: build:client, lint:client, test:client

- Fix AdminPersistence tests
  server/app/services/admin/admin-persistence.spec.ts
Due: build:server, lint:server, test:server

Added dictionary description on init game
  client/src/app/components/init-game/init-game.component.html
  client/src/styles.scss
  server/app/services/dictionary/dictionary-persistence.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed dictionaries path
  server/app/services/dictionary/dictionary-persistence.ts
  server/app/services/dictionary/dictionary.service.ts
Due: build:server, lint:server, test:server

Prevents multiple InitGameDialog from opening
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
Due: build:client, lint:client, test:client

Fixed unit tests
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
Due: build:client, lint:client, test:client

Can now edit dictionary description
  server/app/services/dictionary/dictionary-persistence.ts
Due: build:server, lint:server, test:server

Fixed linting
  client/src/app/components/board/board.component.ts
Due: build:client, lint:client, test:client

- Fix dictionaryPersistence tests
  server/app/services/dictionary/dictionary-persistence.spec.ts
  server/app/services/dictionary/dictionary.service.spec.ts
Due: build:server, lint:server, test:server

Fix mat cards display
  client/src/app/components/objectives/objectives.component.scss
  client/src/app/components/rack/rack.component.scss
  client/src/app/components/toolbar/toolbar.component.html
  client/src/app/components/toolbar/toolbar.component.scss
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/styles.scss
  common/system-messages.constants.ts
Due: build:client, lint:client, test:client

Fixed DictionaryService tests
  server/app/services/dictionary/dictionary.service.spec.ts
Due: build:server, lint:server, test:server
