Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*

Added stats handling logic
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.ts
  server/app/classes/player/virtual-player/actions/exchange-action.ts
  server/app/classes/player/virtual-player/actions/place-action.ts
  server/app/classes/player/virtual-player/actions/skip-action.ts
  server/app/classes/player/virtual-player/virtual-player-easy/actions/play-action-easy.ts
  server/app/classes/player/virtual-player/virtual-player-easy/virtual-player-easy.ts
  server/app/classes/player/virtual-player/virtual-player-expert/actions/play-action-expert.ts
  server/app/classes/player/virtual-player/virtual-player-expert/virtual-player-expert.ts
  server/app/handlers/goal-handler/goal-handler.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/handlers/stats-handlers/game-stats-handler/game-stats-handler.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-handler.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-notifier.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.ts
Due: build:server, lint:server, test:server

Added GameMode to interfaces
  client/src/app/components/init-game/init-game.component.ts
  common/game-config.ts
  common/game-mode.ts
  common/index.ts
  server/app/classes/session-info.ts
  server/app/handlers/goal-handler/goal-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-handler.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix res.json call in stats controller
  client/src/app/components/best-scores/best-scores.component.html
  client/src/app/components/best-scores/best-scores.component.spec.ts
  client/src/app/components/best-scores/best-scores.component.ts
  client/src/app/components/communication-box/communication-box.component.html
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/services/scoreboard/scoreboard.service.spec.ts
  client/src/app/services/scoreboard/scoreboard.service.ts
  server/app/controllers/room/room.controller.ts
  server/app/controllers/stats/stats.controller.ts
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Upload is back functional and using async calls
  client/src/app/pages/admin-page/admin-page.component.html
  server/app/controllers/admin/admin.controller.spec.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/handlers/dictionary-handler/dictionary-handler.spec.ts
  server/app/services/dictionary/dictionary.service.spec.ts
  server/app/services/dictionary/dictionary.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Improved stats notifying
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.ts
  server/app/classes/player/virtual-player/actions/exchange-action.ts
  server/app/classes/player/virtual-player/actions/place-action.ts
  server/app/handlers/goal-handler/disabled-goal-handler.ts
  server/app/handlers/goal-handler/goal-handler.ts
  server/app/handlers/goal-handler/log2990-goal-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-handler.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-notifier.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.ts
Due: build:server, lint:server, test:server

Fix failing test in best score component
  client/src/app/components/best-scores/best-scores.component.html
  client/src/app/components/best-scores/best-scores.component.spec.ts
  client/src/app/components/best-scores/best-scores.component.ts
Due: build:client, lint:client, test:client

Remove addElementInDb in game page component
  client/src/app/pages/game-page/game-page.component.html
Due: build:client, lint:client, test:client

Init scoreboards in best-scores component
  client/src/app/components/best-scores/best-scores.component.html
  client/src/app/components/best-scores/best-scores.component.spec.ts
  client/src/app/components/best-scores/best-scores.component.ts
Due: build:client, lint:client, test:client

Fixed virtual player always emptying rack
  server/app/classes/player/virtual-player/actions/place-action.ts
Due: build:server, lint:server, test:server

GameMode selection is eneabled on client
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.ts
  common/game-config.ts
  common/game-mode.ts
  server/app/classes/session-info.ts
  server/app/controllers/room/room.controller.ts
  server/app/handlers/goal-handler/goal-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-handler.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Enabled bonus support
  server/app/classes/goal/base-goal.ts
  server/app/classes/goal/goals/goal-generator-list.ts
  server/app/classes/goal/goals/goal.decorator.ts
  server/app/classes/goal/goals/place-corner/place-corner.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.ts
  server/app/classes/goal/goals/place-many-3-in-row/many-letters-in-row.ts
  server/app/classes/goal/goals/place-on-border/place-on-border.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.ts
  server/app/classes/goal/goals/short-word-over-15/short-word-high-score.ts
  server/app/handlers/goal-handler/goal-handler.ts
  server/app/handlers/goal-handler/log2990-goal-handler.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.ts
Due: build:server, lint:server, test:server

Morgan logger is now streamed to Winston
  server/app/app.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/index.ts
Due: build:server, lint:server, test:server

Remove reserve controller from app.ts
  client/src/app/components/best-scores/best-scores.component.spec.ts
  client/src/app/components/best-scores/best-scores.component.ts
  server/app/app.ts
  server/app/controllers/player/player.controller.spec.ts
  server/app/controllers/player/player.controller.ts
  server/app/controllers/room/room.controller.spec.ts
  server/app/controllers/room/room.controller.ts
  server/app/services/game/game-service.spec.ts
  server/app/services/game/game.service.ts
  server/app/services/session-handling/session-handling.service.spec.ts
  server/app/services/session-handling/session-handling.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix minor goal bugs
  server/app/classes/goal/goals/goal-generator-list.ts
  server/app/classes/goal/goals/place-corner/place-corner.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.ts
  server/app/classes/goal/goals/place-on-border/place-on-border.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.ts
Due: build:server, lint:server, test:server

Fixed unit tests
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.spec.ts
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/session/session.service.spec.ts
  server/app/classes/player-data.ts
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/classes/player/player.spec.ts
  server/app/classes/player/virtual-player/actions/exchange-action.spec.ts
  server/app/classes/player/virtual-player/actions/place-action.spec.ts
  server/app/classes/player/virtual-player/actions/skip-action.spec.ts
  server/app/classes/player/virtual-player/virtual-player-easy/actions/play-action-easy.spec.ts
  server/app/classes/player/virtual-player/virtual-player-easy/virtual-player-easy.spec.ts
  server/app/classes/player/virtual-player/virtual-player-expert/actions/play-action-expert.spec.ts
  server/app/classes/player/virtual-player/virtual-player-expert/virtual-player-expert.spec.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/player/player.controller.spec.ts
  server/app/controllers/room/room.controller.spec.ts
  server/app/handlers/player-handler/player-handler.spec.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.ts
  server/app/services/game/game-service.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Add table draft in best scores component
  client/src/app/components/best-scores/best-scores.component.html
  client/src/app/components/best-scores/best-scores.component.scss
  client/src/app/components/best-scores/best-scores.component.ts
Due: build:client, lint:client, test:client

Added bingo-without-exchange
  server/app/classes/goal/base-goal.ts
  server/app/classes/goal/goal-generator-list.ts
  server/app/classes/goal/goals/bingo-without-exchange/bingo-without-exchange.ts
  server/app/classes/goal/goals/place-corner/place-corner.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.ts
  server/app/classes/goal/goals/place-many-3-in-row/many-letters-in-row.ts
  server/app/classes/goal/goals/place-on-border/place-on-border.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.ts
  server/app/classes/goal/goals/short-word-over-15/short-word-high-score.ts
  server/app/classes/goal/notifiers/exchange-notifier.ts
  server/app/classes/goal/notifiers/placement-notifier.ts
  server/app/classes/goal/notifiers/skip-notifier.ts
Due: build:server, lint:server, test:server

Minor LOG2990 UI improvements
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.ts
  server/app/handlers/goal-handler/goal-handler.ts
  server/app/handlers/goal-handler/log2990-goal-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Updated docker-compose and other minor improvements
  server/app/index.ts
  server/app/services/stats-generator/stats-handler-generator.service.ts
  server/docker-compose.yml
Due: build:server, lint:server, test:server

Promisify
  client/src/app/services/admin/admin.service.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/services/dictionary/dictionary.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Merge brange - small add
  server/app/app.ts
Due: build:server, lint:server, test:server

Updated bonus descriptions
  server/app/classes/goal/goal-generator-list.ts
  server/app/classes/goal/goals/bingo-without-exchange/bingo-without-exchange.ts
  server/app/classes/goal/goals/many-letters-in-row/many-letters-in-row.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.ts
  server/app/classes/goal/goals/place-on-border/place-on-border.ts
  server/app/classes/goal/goals/short-word-high-score/short-word-high-score.ts
Due: build:server, lint:server, test:server

Fix scoreboards display
  client/src/app/components/best-scores/best-scores.component.html
  client/src/app/components/best-scores/best-scores.component.scss
  client/src/app/components/best-scores/best-scores.component.ts
  client/src/app/pages/main-page/main-page.component.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/services/game/game.service.ts
  server/app/services/score/score.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Change table color
  client/src/app/components/best-scores/best-scores.component.html
  client/src/app/components/best-scores/best-scores.component.scss
Due: build:client, lint:client, test:client

Remove unnecessary lines left from merge conflicts
  client/src/app/components/best-scores/best-scores.component.html
  client/src/app/components/best-scores/best-scores.component.scss
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/services/score/score.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Add scoreboard update in session handler
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

Fix scoreboard sort in database
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

Temporary fix for tests
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/services/admin/admin.service.spec.ts
  server/app/controllers/admin/admin.controller.spec.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/services/dictionary/dictionary.service.spec.ts
  server/app/services/dictionary/dictionary.service.ts
  server/app/services/game/game-service.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix linting error
  client/src/app/components/init-game/init-game.component.ts
Due: build:client, lint:client, test:client

fix some grammar error and fix room list display
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.scss
Due: build:client, lint:client, test:client

objective component added to gamePage
  client/src/app/app.module.ts
  client/src/app/components/objectives/objectives.component.html
  client/src/app/components/objectives/objectives.component.scss
  client/src/app/components/objectives/objectives.component.spec.ts
  client/src/app/components/objectives/objectives.component.ts
  client/src/app/pages/game-page/game-page.component.html
Due: build:client, lint:client, test:client

flex on container for objectives
  client/src/app/components/objectives/objectives.component.html
  client/src/app/components/objectives/objectives.component.scss
  client/src/app/components/objectives/objectives.component.spec.ts
  client/src/app/pages/game-page/game-page.component.scss
Due: build:client, lint:client, test:client

fix border problem
  client/src/app/components/board/board.component.ts
  client/src/app/services/board/board.service.ts
  client/src/app/services/place-letter/place-letter.service.ts
Due: build:client, lint:client, test:client

fix backspace problem
  client/src/app/services/place-letter/place-letter.service.ts
Due: build:client, lint:client, test:client

Update game conversion to match goal handling
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/classes/player/player.spec.ts
  server/app/classes/player/player.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.ts
  server/app/services/game/game-service.spec.ts
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

Both types of objectives are displayed
  client/src/app/components/objectives/objectives.component.html
  client/src/app/components/objectives/objectives.component.scss
  client/src/app/components/objectives/objectives.component.ts
  client/src/app/modules/material.module.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  server/app/handlers/session-handler/session-handler.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Added SkipWithAdvantage goal
  server/app/classes/goal/base-goal.ts
  server/app/classes/goal/goal-generator-list.ts
  server/app/classes/goal/goals/bingo-without-exchange/bingo-without-exchange.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.ts
  server/app/classes/goal/goals/short-word-high-score/short-word-high-score.ts
  server/app/classes/goal/goals/skip-with-advantage/skip-with-advantage.ts
  server/app/classes/goal/notifiers/stats-notifier.ts
  server/app/handlers/goal-handler/disabled-goal-handler.ts
  server/app/handlers/goal-handler/goal-handler.ts
  server/app/handlers/goal-handler/log2990-goal-handler.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-handler.ts
Due: build:server, lint:server, test:server

Only relevant players can complete goals
  server/app/classes/goal/base-goal.ts
  server/app/classes/goal/goals/many-letters-in-row/many-letters-in-row.ts
  server/app/classes/goal/goals/place-corner/place-corner.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.ts
  server/app/classes/goal/goals/place-on-border/place-on-border.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.ts
  server/app/classes/goal/goals/short-word-high-score/short-word-high-score.ts
  server/app/classes/goal/goals/skip-with-advantage/skip-with-advantage.ts
  server/app/handlers/goal-handler/goal-handler.ts
Due: build:server, lint:server, test:server

removing debug log
  client/src/app/components/board/board.component.ts
  client/src/app/services/board/board.service.ts
Due: build:client, lint:client, test:client

Fixes from Merge of Development
  server/app/services/game/game-service.spec.ts
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server
