Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

install:client:
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push

install:server:
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push

build:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
  ...

build:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
  ...

lint:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:client
  allow_failure: true
  script:
  - cd client
  ...

lint:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:server
  allow_failure: true
  script:
  - cd server
  ...

test:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:client
  script:
  ...

test:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - npm run coverage
  ...

SessionHandler now handles player turns
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/classes/session-data.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game.service.ts
Due: build:server, lint:server, test:server

retrieve letter from rack when canceling and escape now working
  client/src/app/components/board/board/board.component.ts
Due: build:client, lint:client, test:client

Added winston loggers
  server/app/controllers/room.controller.ts
  server/app/index.ts
  server/package-lock.json
  server/package.json
Due: install:server, build:server, lint:server, test:server

Add message filtration of debug server-side
  server/app/controllers/room.controller.ts
Due: build:server, lint:server, test:server

Add filter messages server side
  client/src/app/services/commands/commands.service.spec.ts
Due: build:client, lint:client, test:client

keydown now handle special caracter
  client/src/app/components/board/board/board.component.ts
  client/src/app/services/grid/grid.service.ts
Due: build:client, lint:client, test:client

Added SocketHandler
  common/message.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/handlers/socket-handler/socket-handler.ts
  server/app/services/game.service.ts
  server/app/services/socket-service.ts
Due: build:server, lint:server, test:server

Fix lint
  client/src/app/services/commands/commands.service.spec.ts
Due: build:client, lint:client, test:client

Add RoomController creation test
  client/src/app/services/game/game.service.ts
  server/app/controllers/room.controller.spec.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/socket-service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Small modifications for MR
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
Due: build:client, lint:client, test:client

Fix: import
  client/src/app/services/messaging/messaging.service.spec.ts
Due: build:client, lint:client, test:client

Added loggers
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game.service.ts
Due: build:server, lint:server, test:server

Change return type of placeLetters and ExchangeLetters
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/player/player.service.ts
Due: build:client, lint:client, test:client

Fixed single player mode start
  client/src/app/services/game/game.service.ts
  client/src/app/services/socket-client/socket-client.service.ts
  server/app/controllers/game.controller.ts
  server/app/controllers/room.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Add image and text in waiting room component
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
  client/src/assets/img/waiting-room-background.gif
  client/src/index.html
Due: build:client, lint:client, test:client

Using server-side timer
  client/src/app/services/game/game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/socket-client/socket-client.service.ts
  client/src/app/services/timer/timer.service.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  server/app/controllers/room.controller.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Add buttons in waiting room component
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
  client/src/index.html
Due: build:client, lint:client, test:client

Remove PlayerService manual call
  client/src/app/services/game/game.service.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/controllers/player.controller.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix test
  client/src/app/services/messaging/messaging.service.spec.ts
Due: build:client, lint:client, test:client

Fix lint
  client/src/app/services/messaging/messaging.service.spec.ts
Due: build:client, lint:client, test:client

Virtual player at 85 needs to fix random value to get the last 15
  server/app/classes/http.exception.spec.ts
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/classes/player/virtual-player/actions/exchange-action.spec.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/classes/player/virtual-player/virtual-player.ts
Due: build:server, lint:server, test:server

Remove unnecessary end game service
  client/src/app/services/end-game/end-game.service.spec.ts
  client/src/app/services/end-game/end-game.service.ts
Due: build:client, lint:client, test:client

Using GameType in game configs
  client/src/app/classes/game-config.ts
  client/src/app/classes/game-type.ts
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/session/session.service.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  common/game-config.ts
  common/game-type.ts
  common/index.ts
  server/app/classes/session-info.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Change functions accessibility if private is needed
  client/src/app/components/board/board/board.component.ts
  client/src/app/components/rack/rack.component.spec.ts
  client/src/app/components/rack/rack.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/grid/grid.service.spec.ts
  client/src/app/services/grid/grid.service.ts
  client/src/app/services/session/session.service.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  server/app/app.ts
  server/app/controllers/room.controller.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed wrong player selection on start
  client/src/app/services/game/game.service.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/controllers/game.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Session are now removed on end game
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  server/app/controllers/game.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

GameModePage EndGameDialog prevents overrides default back button behavior
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.ts
Due: build:client, lint:client, test:client

Session handling tests
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/services/session-handling.service.spec.ts
  server/app/services/session-handling.service.ts
Due: build:server, lint:server, test:server

Improved timer performance
  client/src/app/services/socket-client/socket-client.service.ts
  client/src/app/services/timer/timer.service.spec.ts
  client/src/app/services/timer/timer.service.ts
  server/app/config.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Remove unnecessary link
  client/src/index.html
Due: build:client, lint:client, test:client

Move successfulCommand in parseInput
  client/src/app/services/commands/commands.service.ts
Due: build:client, lint:client, test:client

Add tests for CommunicationBox, WaitingRoom and RoomList
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  client/src/app/services/timer/timer.service.ts
  common/index.ts
  common/socket-test-helper.ts
  server/app/controllers/room.controller.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Removed timer class
  client/src/app/classes/time/timer.spec.ts
  client/src/app/classes/time/timer.ts
  client/src/app/services/timer/timer.service.ts
Due: build:client, lint:client, test:client

InitGameComponent handles multiple game mode and bonus checkbox
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/components/init-game/init-game.component.ts
Due: build:client, lint:client, test:client

Fix fill rack with empty letters in reack service
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/rack/rack.service.ts
  client/src/app/services/reserve/reserve.service.ts
Due: build:client, lint:client, test:client

Bonuses are now randomised only when needed
  client/src/app/components/init-game/init-game.component.ts
  common/game-config.ts
  server/app/services/board/board-generator.service.ts
  server/app/services/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Game service can now start multiplayer games
  client/src/app/services/game/game.service.ts
Due: build:client, lint:client, test:client

Add logic of letter exchange using mouse click in rack component
  client/src/app/components/play-area/play-area.component.html
  client/src/app/components/play-area/play-area.component.scss
  client/src/app/components/play-area/play-area.component.spec.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/rack/rack.component.html
  client/src/app/components/rack/rack.component.scss
  client/src/app/components/rack/rack.component.spec.ts
  client/src/app/components/rack/rack.component.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/rack/rack.service.ts
Due: build:client, lint:client, test:client

Minor display bugfix in InitGameMode
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/game/game.service.ts
Due: build:client, lint:client, test:client

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
