Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

install:client:
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push

install:server:
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push

build:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
  ...

build:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
  ...

lint:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:client
  allow_failure: true
  script:
  - cd client
  ...

lint:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:server
  allow_failure: true
  script:
  - cd server
  ...

test:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:client
  script:
  ...

test:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - npm run coverage
  ...

Fixed tests expectations
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/services/admin/admin.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/room/room.service.spec.ts
Due: build:client, lint:client, test:client

EndGameData test
  server/app/handlers/session-handler/session-handler.spec.ts
Due: build:server, lint:server, test:server

Fix lint and format
  client/src/app/pages/main-page/main-page.component.spec.ts
  client/src/app/services/reserve/reserve.service.spec.ts
Due: build:client, lint:client, test:client

Fix lint
  client/src/app/components/tutorial/tutorial.component.html
  client/src/app/components/tutorial/tutorial.component.spec.ts
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/pages/main-page/main-page.component.spec.ts
  client/src/app/services/reserve/reserve.service.spec.ts
Due: build:client, lint:client, test:client

Correction sprint 3
  Equipe301.xlsx
Due: none

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
