Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

install:client:
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push

install:server:
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push

build:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
  ...

build:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
  ...

lint:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:client
  allow_failure: true
  script:
  - cd client
  ...

lint:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:server
  allow_failure: true
  script:
  - cd server
  ...

test:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:client
  script:
  ...

test:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - npm run coverage
  ...

Minor fixes and improvements
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game/game-service.spec.ts
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

Increase header font size in best scores tables
  client/src/app/components/best-scores/best-scores.component.scss
Due: build:client, lint:client, test:client

Works with GoalService
  client/src/app/components/objectives/objectives.component.html
  client/src/app/components/objectives/objectives.component.ts
  client/src/app/services/goal/goal.service.spec.ts
  client/src/app/services/goal/goal.service.ts
Due: build:client, lint:client, test:client

Add title to each scoreboard
  client/src/app/components/best-scores/best-scores.component.html
Due: build:client, lint:client, test:client

Rack is now filled when VirtualPlayer starts his turn
  server/app/classes/player/virtual-player/virtual-player.spec.ts
Due: build:server, lint:server, test:server

Improved EndGame stats handling logic
  server/app/classes/end-game-data.ts
  server/app/controllers/room/room.controller.spec.ts
  server/app/controllers/room/room.controller.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.ts
  server/app/services/game/game-service.spec.ts
  server/app/services/game/game.service.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

Updated docker-compose config
  server/app/services/stats/stats.service.ts
  server/docker-compose.yml
Due: build:server, lint:server, test:server

Pushing all name to database
  server/app/services/score/score.service.ts
Due: build:server, lint:server, test:server

Collections now created by server in case they do not exist in db
  server/app/services/database/database.service.ts
Due: build:server, lint:server, test:server

Minor bugfixes
  server/app/controllers/stats/stats.controller.ts
  server/app/server.ts
  server/app/services/database/database.service.ts
Due: build:server, lint:server, test:server

Returning all player stats on end game
  server/app/classes/end-game-data.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.ts
  server/app/services/database/database.service.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

Refactor updateScoreboards in stats service
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

Fix database url format in database service
  server/app/services/database/database.service.ts
Due: build:server, lint:server, test:server

Updated docker-compose
  .idea/runConfigurations/docker_compose.xml
  server/app/server.ts
  server/docker-compose.yml
Due: build:server, lint:server, test:server

Fix lint and format throughout project
  client/src/app/components/init-game/init-game.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.ts
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed unit tests
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.ts
  server/app/services/score/score.service.ts
  server/mocha-helper.ts
Due: build:server, lint:server, test:server

Add deleteElement in score service
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

boardComponent 99%
  client/src/app/components/board/board.component.spec.ts
  client/src/app/components/board/board.component.ts
Due: build:client, lint:client, test:client

placeLetter 100% board service 100%
  client/src/app/components/board/board.component.spec.ts
  client/src/app/services/board/board.service.spec.ts
  client/src/app/services/place-letter/place-letter.service.spec.ts
  client/src/app/services/place-letter/place-letter.service.ts
Due: build:client, lint:client, test:client

Fix file renaming that caused the server to not find the uploded dictionaries
  server/app/controllers/admin/admin.controller.ts
  server/app/services/dictionary/dictionary.service.ts
  server/package-lock.json
  server/package.json
Due: install:server, build:server, lint:server, test:server

Snack bar and Enum GoalStatus to string
  client/src/app/classes/game-config.ts
  client/src/app/components/objectives/objectives.component.html
  client/src/app/components/objectives/objectives.component.scss
  client/src/app/components/objectives/objectives.component.ts
  client/src/app/services/goal/goal.service.ts
  client/src/app/services/session/session.service.ts
Due: build:client, lint:client, test:client

Guillemet ajoute dans message de snackBar
  client/src/app/services/goal/goal.service.ts
Due: build:client, lint:client, test:client

Fixed default form names
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/services/admin/admin.service.ts
Due: build:client, lint:client, test:client

Objectives only on LOG2990 and lint
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/services/goal/goal.service.spec.ts
  client/src/app/services/goal/goal.service.ts
Due: build:client, lint:client, test:client

lint
  client/src/app/services/goal/goal.service.spec.ts
Due: build:client, lint:client, test:client

Fixed tests regarding modification on gameConfig so that pipeline passes
  client/src/app/components/objectives/objectives.component.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/goal/goal.service.spec.ts
  client/src/app/services/session/session.service.spec.ts
Due: build:client, lint:client, test:client

Added virtual player selection
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/constants/global.constants.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/admin/admin.service.ts
  client/src/app/services/room/room.service.ts
  common/game-config.ts
  common/index.ts
  common/virtual-player-level.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

fix test
  client/src/app/components/board/board.component.spec.ts
Due: build:client, lint:client, test:client

Fixed unit tests
  client/src/app/pages/game-mode-page/game-mode-page.component.spec.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/services/admin/admin.service.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/room/room.service.spec.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/services/game/game-service.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Resolved Threads (Enum and private)
  client/src/app/components/objectives/objectives.component.html
  client/src/app/components/objectives/objectives.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/goal/goal.service.ts
Due: build:client, lint:client, test:client

Improved validation test coverage
  server/app/classes/validation/board-validator.spec.ts
Due: build:server, lint:server, test:server

Removed capital letter from name validation
  client/src/app/classes/form-validation/name-validator.ts
Due: build:client, lint:client, test:client

- Uncommented tests - Change dictionary handling to reduce their impact on memory
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/services/admin/admin.service.spec.ts
  server/app/services/dictionary/dictionary.service.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix scoreboard logic
  client/src/app/components/best-scores/best-scores.component.html
  client/src/app/components/best-scores/best-scores.component.ts
  client/src/app/services/scoreboard/scoreboard.service.ts
  common/score.ts
  server/app/controllers/stats/stats.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/database/database.service.ts
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Goal at 95 and objective at 87.5
  client/src/app/components/objectives/objectives.component.spec.ts
  client/src/app/services/goal/goal.service.spec.ts
Due: build:client, lint:client, test:client

Add reset in database service
  server/app/services/database/database.service.ts
Due: build:server, lint:server, test:server

Fix lint and format
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/objectives/objectives.component.scss
  server/app/controllers/stats/stats.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/database/database.service.ts
  server/app/services/game/game.service.ts
  server/app/services/stats/stats.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Updated goal description
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.ts
  server/app/classes/goal/goals/place-on-border/place-on-border.ts
  server/app/classes/goal/goals/skip-with-advantage/skip-with-advantage.ts
Due: build:server, lint:server, test:server

Fixed sprint 2 flagged bugs
  client/src/app/classes/form-validation/name-validator.ts
  client/src/app/components/board/board.component.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/components/rack/rack.component.ts
  client/src/app/components/size-selector/size-selector.component.ts
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/rack/rack.service.ts
  server/app/classes/board/board.ts
  server/app/handlers/goal-handler/disabled-goal-handler.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed unit tests
  client/src/app/classes/form-validation/name-validator.spec.ts
  server/app/classes/board/board.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
