Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

install:client:
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push

install:server:
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push

build:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
  ...

build:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
  ...

lint:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:client
  allow_failure: true
  script:
  - cd client
  ...

lint:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:server
  allow_failure: true
  script:
  - cd server
  ...

test:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:client
  script:
  ...

test:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - npm run coverage
  ...

Now using HashLocationStrategy
  client/src/app/modules/app-routing.module.ts
Due: build:client, lint:client, test:client

Fix VS Code project settings
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Add new background image in main and game mode pages
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/main-page/main-page.component.scss
  client/src/assets/img/scrabble_bg.jpg
  client/src/assets/img/scrabble_bg.png
Due: build:client, lint:client, test:client

fix so that objectives completed by opponent doesnt add to privateobjectives
  client/src/app/services/goal/goal.service.ts
Due: build:client, lint:client, test:client

commented tests so that pipeline passes
  client/src/app/components/objectives/objectives.component.spec.ts
  client/src/app/services/goal/goal.service.spec.ts
Due: build:client, lint:client, test:client

Add json files for default scoreboard values
  server/app/constants.ts
  server/app/controllers/stats/stats.controller.ts
  server/app/services/database/database.service.ts
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.ts
  server/assets/default-scoreboards/classic.json
  server/assets/default-scoreboards/log.json
Due: build:server, lint:server, test:server

Dictionary metadata are now saved persisted to database
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/services/admin/admin.service.spec.ts
  client/src/app/services/admin/admin.service.ts
  client/src/app/services/game/game.service.spec.ts
  common/dictionary-metadata.ts
  server/app/config.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/stats/stats.controller.ts
  server/app/handlers/dictionary-handler/dictionary-handler.spec.ts
  server/app/server.ts
  server/app/services/database/database.service.ts
  server/app/services/dictionary/dictionary-persistence.ts
  server/app/services/dictionary/dictionary.service.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Full coverage in stats controller tests
  server/app/controllers/stats/stats.controller.spec.ts
Due: build:server, lint:server, test:server

Correct dictionnary path in board validator spec
  server/app/classes/validation/board-validator.spec.ts
Due: build:server, lint:server, test:server

Remove stub in score array name
  server/app/controllers/stats/stats.controller.spec.ts
Due: build:server, lint:server, test:server

Dictionaries can now be renamed
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/admin-page/admin-page.component.scss
  client/src/app/services/admin/admin.service.ts
  client/src/app/services/player/player.service.ts
  common/answer.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/controllers/player/player.controller.spec.ts
  server/app/controllers/player/player.controller.ts
  server/app/services/dictionary/dictionary-persistence.ts
  server/app/services/dictionary/dictionary.service.ts
  server/package-lock.json
  server/package.json
Due: install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Fix tests
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/services/admin/admin.service.spec.ts
Due: build:client, lint:client, test:client

Fix merged branch
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

Trigger pipeline
  client/src/app/services/admin/admin.service.ts
Due: build:client, lint:client, test:client

Obtain full coverage in stats service
  server/app/services/game/game-service.spec.ts
  server/app/services/stats/stats.service.spec.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

Resolved PR comments
  server/app/classes/goal/goals/skip-with-advantage/skip-with-advantage.ts
Due: build:server, lint:server, test:server

Fix linting & QA
  client/src/app/services/goal/goal.service.spec.ts
  client/src/app/services/goal/goal.service.ts
Due: build:client, lint:client, test:client

Fixed unit tests
  client/src/app/components/best-scores/best-scores.component.spec.ts
  client/src/app/pages/room-list/room-list.component.spec.ts
Due: build:client, lint:client, test:client

Obtain full coverage in scoreboard service
  client/src/app/services/scoreboard/scoreboard.service.spec.ts
Due: build:client, lint:client, test:client

Remove fdescribe in scoreboard spec
  client/src/app/services/scoreboard/scoreboard.service.spec.ts
Due: build:client, lint:client, test:client

Add tests for goals
  client/src/app/services/goal/goal.service.spec.ts
  server/app/classes/goal/base-goal.spec.ts
  server/app/classes/goal/goals/many-letters-in-row/many-letters-in-row.spec.ts
  server/app/classes/goal/goals/place-corner/place-corner.spec.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.spec.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.spec.ts
  server/app/classes/goal/goals/place-on-border/place-on-border.spec.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.spec.ts
  server/app/classes/goal/goals/short-word-high-score/short-word-high-score.spec.ts
  server/app/classes/goal/goals/skip-with-advantage/skip-with-advantage.spec.ts
  server/app/controllers/admin/admin.controller.spec.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-handler.spec.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.spec.ts
  server/app/services/dictionary/dictionary.service.spec.ts
  server/app/services/dictionary/dictionary.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Obtain full coverage in best-scores component
  client/src/app/components/best-scores/best-scores.component.spec.ts
Due: build:client, lint:client, test:client

Fix wrong collection names in scoreboard service spec
  client/src/app/services/scoreboard/scoreboard.service.spec.ts
Due: build:client, lint:client, test:client

100% Lines - BaseGoal
  server/app/classes/goal/base-goal.spec.ts
Due: build:server, lint:server, test:server

Fix lint and format client side
  client/src/app/components/best-scores/best-scores.component.spec.ts
  client/src/app/pages/room-list/room-list.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
Due: build:client, lint:client, test:client

Added server-side virtual player name handling
  common/virtual-player-level.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/server.ts
  server/app/services/admin/adminPersistence.ts
Due: build:server, lint:server, test:server

Multiplayer game can now only be joined if session is inactive
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

Add coverage for goals
  server/app/classes/goal/goals/many-letters-in-row/many-letters-in-row.spec.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.spec.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.spec.ts
  server/app/classes/goal/goals/place-on-border/place-on-border.spec.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.spec.ts
  server/app/classes/goal/goals/short-word-high-score/short-word-high-score.spec.ts
  server/app/classes/goal/goals/skip-with-advantage/skip-with-advantage.spec.ts
Due: build:server, lint:server, test:server

Add coverage for player-stats-handler.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-handler.spec.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-handler.ts
Due: build:server, lint:server, test:server

- Add lint disable comments - Mute tests
  server/app/classes/goal/base-goal.spec.ts
  server/app/classes/goal/goals/many-letters-in-row/many-letters-in-row.spec.ts
  server/app/classes/goal/goals/place-corner/place-corner.spec.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.spec.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.spec.ts
  server/app/classes/goal/goals/place-on-border/place-on-border.spec.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.spec.ts
  server/app/classes/goal/goals/short-word-high-score/short-word-high-score.spec.ts
  server/app/classes/goal/goals/skip-with-advantage/skip-with-advantage.spec.ts
  server/app/classes/goal/goals/skip-with-advantage/skip-with-advantage.ts
  server/app/controllers/admin/admin.controller.spec.ts
  server/app/handlers/goal-handler/goal-handler.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-handler.spec.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.spec.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.ts
  server/app/services/dictionary/dictionary.service.spec.ts
Due: build:server, lint:server, test:server

Client-side CRUD operations on virtual player names implemented
  .idea/log2990-301.iml
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/modules/material.module.ts
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/admin-page/admin-page.component.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/services/admin/admin.service.spec.ts
  client/src/app/services/admin/admin.service.ts
  common/index.ts
  common/virtual-player-name.ts
  server/.dockerignore
  server/.gitignore
  server/app/controllers/admin/admin.controller.ts
  server/app/server.ts
  server/app/services/admin/admin-persistence.ts
  server/app/services/dictionary/dictionary-persistence.ts
  server/app/services/dictionary/dictionary.service.ts
  server/assets/dictionaries/.dockerignore
  server/assets/dictionaries/.gitignore
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

- Fix fs.rm is not a function error - Remove warning: could be a static method
  server/app/controllers/admin/admin.controller.spec.ts
  server/app/services/dictionary/dictionary.service.ts
Due: build:server, lint:server, test:server

Change background in main and game mode pages
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/objectives/objectives.component.scss
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
  client/src/assets/img/scrabble_bg.png
  server/app/app.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Remove background image from room list component
  client/src/app/pages/room-list/room-list.component.scss
Due: build:client, lint:client, test:client

Change scoreboard header color
  client/src/app/components/best-scores/best-scores.component.scss
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/main-page/main-page.component.scss
  client/src/app/pages/room-list/room-list.component.scss
Due: build:client, lint:client, test:client

Change mat-dialog background color in init game
  client/src/app/components/init-game/init-game.component.scss
Due: build:client, lint:client, test:client

Change linear gradient of background
  client/src/app/components/best-scores/best-scores.component.scss
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/main-page/main-page.component.scss
  client/src/app/pages/room-list/room-list.component.scss
Due: build:client, lint:client, test:client

Change blue background color in main page to fit waiting room background
  client/src/app/components/best-scores/best-scores.component.scss
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/main-page/main-page.component.scss
  client/src/app/pages/room-list/room-list.component.scss
Due: build:client, lint:client, test:client

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
