Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*

Admin page now notifies using snackbar
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/admin-page/admin-page.component.ts
  client/src/app/services/admin/admin.service.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/services/dictionary/dictionary-persistence.ts
  server/app/services/dictionary/dictionary.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

QA for indentation, kebab-case for filename and separation of html,css,ts
  client/src/app/components/board/board.component.html
  client/src/app/components/board/board.component.spec.ts
  client/src/app/components/board/board.component.ts
  client/src/app/services/grid/grid.service.ts
  server/app/classes/goal/goals/many-letters-in-row/many-letters-in-row.spec.ts
  server/app/classes/goal/goals/place-corner/place-corner.spec.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.spec.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.spec.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.spec.ts
  server/app/classes/goal/goals/short-word-high-score/short-word-high-score.spec.ts
  server/app/classes/goal/goals/skip-with-advantage/skip-with-advantage.spec.ts
  server/app/classes/validation/board-validator.spec.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.spec.ts
  server/app/services/board/board-generator.service.spec.ts
  server/app/services/database/database.service.spec.ts
  server/app/services/score/score.service.spec.ts
  server/app/services/session-handling/session-handling.service.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

room service almost done
  client/src/app/services/room/room.service.spec.ts
Due: build:client, lint:client, test:client

remove useless comment
  client/src/app/components/rack/rack.component.scss
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/services/admin/admin.service.spec.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/grid/grid.service.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/controllers/room/room.controller.spec.ts
  server/app/server.ts
  server/app/services/game/game.service.ts
  server/app/services/score/score.service.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

fix majority of if case
  client/src/app/classes/form-validation/name-validator.ts
  client/src/app/components/communication-box/communication-box.component.ts
  server/app/classes/goal/goals/many-letters-in-row/many-letters-in-row.ts
  server/app/classes/goal/goals/place-corner/place-corner.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.ts
  server/app/classes/goal/goals/place-on-border/place-on-border.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.ts
  server/app/classes/goal/goals/short-word-high-score/short-word-high-score.ts
  server/app/classes/goal/goals/skip-with-advantage/skip-with-advantage.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

fix another if in game.service server side
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

SkipWithAdvantage at 100
  server/app/classes/goal/base-goal.spec.ts
  server/app/classes/goal/goals/skip-with-advantage/skip-with-advantage.spec.ts
Due: build:server, lint:server, test:server

Fix main page css
  client/src/app/components/init-game/init-game.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
  client/src/custom-theme.scss
  client/src/styles.scss
Due: build:client, lint:client, test:client

Fix various injector errors in opponent-quit tests
  client/src/app/components/opponent-quit/opponent-quit.component.spec.ts
Due: build:client, lint:client, test:client

Full coverage in opponent-quit component
  client/src/app/components/error-dialog/error-dialog.component.html
  client/src/app/components/opponent-quit/opponent-quit.component.spec.ts
  client/src/app/components/virtual-player-name/virtual-player-name.component.html
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/admin-page/admin-page.component.scss
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/room-list/room-list.component.html
Due: build:client, lint:client, test:client

Increase coverage in virtual-player-name component
  client/src/app/components/virtual-player-name/virtual-player-name.component.spec.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
Due: build:client, lint:client, test:client

Near full coverage in virtual-player-name component
  client/src/app/components/virtual-player-name/virtual-player-name.component.spec.ts
Due: build:client, lint:client, test:client

Remove fdescribe from virtual-player-name tests
  client/src/app/components/virtual-player-name/virtual-player-name.component.spec.ts
Due: build:client, lint:client, test:client

Group names button placed at bottom right in main page
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
Due: build:client, lint:client, test:client

Add developpers list in group button tooltip in main page
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
Due: build:client, lint:client, test:client

Fix back button in game-mode page
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
Due: build:client, lint:client, test:client

removed useless import that made extension fail
  server/app/classes/goal/goals/many-letters-in-row/many-letters-in-row.spec.ts
  server/app/classes/goal/goals/place-corner/place-corner.spec.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.spec.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.spec.ts
  server/app/classes/goal/goals/place-on-border/place-on-border.spec.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.spec.ts
  server/app/classes/goal/goals/short-word-high-score/short-word-high-score.spec.ts
  server/app/classes/goal/goals/skip-with-advantage/skip-with-advantage.spec.ts
  server/app/handlers/goal-handler/goal-handler.spec.ts
  server/app/handlers/goal-handler/log2990-goal-handler.spec.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-handler.spec.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.spec.ts
Due: build:server, lint:server, test:server

- Add tests for score.service.spec.ts 100%
  server/app/services/score/score.service.spec.ts
Due: build:server, lint:server, test:server

Fix async and readonly data in init-game test
  client/src/app/components/init-game/init-game.component.spec.ts
Due: build:client, lint:client, test:client

Add test for virtual player level in init game
  client/src/app/components/init-game/init-game.component.spec.ts
Due: build:client, lint:client, test:client

Attempt and failure to fix initMultiplayer coverage
  client/src/app/components/init-game/init-game.component.spec.ts
Due: build:client, lint:client, test:client

Admin Controller at 60
  server/app/controllers/admin/admin.controller.spec.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/services/admin/admin-persistence.spec.ts
Due: build:server, lint:server, test:server

A.Q booleen negatif
  server/app/controllers/admin/admin.controller.ts
Due: build:server, lint:server, test:server

all if are corrected
  client/src/app/classes/form-validation/name-validator.ts
  client/src/app/components/board/board.component.ts
  client/src/app/services/place-letter/place-letter.service.ts
  server/app/classes/board/board.ts
  server/app/classes/validation/board-validator.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Increase coverage in init game tests
  client/src/app/components/init-game/init-game.component.spec.ts
Due: build:client, lint:client, test:client

Admin at 90
  server/app/controllers/admin/admin.controller.spec.ts
  server/app/controllers/admin/admin.controller.ts
Due: build:server, lint:server, test:server

QA quality of function done
  client/src/app/components/board/board.component.ts
  client/src/app/services/place-letter/place-letter.service.spec.ts
  client/src/app/services/place-letter/place-letter.service.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.spec.ts
  server/app/classes/player/player.ts
  server/app/classes/player/virtual-player/actions/exchange-action.ts
  server/app/handlers/reserve-handler/reserve-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Enabled board scaling
  .idea/watcherTasks.xml
  client/src/app/components/board/board.component.html
  client/src/app/components/board/board.component.scss
  client/src/app/components/board/board.component.spec.ts
  client/src/app/components/board/board.component.ts
  client/src/app/components/play-area/play-area.component.scss
  client/src/app/components/rack/rack.component.scss
  client/src/app/services/mouse-handling/mouse-handling.service.ts
Due: build:client, lint:client, test:client

Improved rack scaling
  client/src/app/components/board/board.component.ts
  client/src/app/components/play-area/play-area.component.scss
  client/src/app/components/rack/rack.component.scss
Due: build:client, lint:client, test:client

- Add tests
  server/app/classes/goal/base-goal.spec.ts
  server/app/controllers/room/room.controller.spec.ts
  server/app/services/admin/admin-persistence.spec.ts
  server/app/services/dictionary/dictionary-persistence.spec.ts
  server/app/services/dictionary/dictionary.service.spec.ts
  server/app/services/dictionary/dictionary.service.ts
  server/app/services/score/score.service.spec.ts
Due: build:server, lint:server, test:server

Fix mat-fab buttons in main page and game mode page
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
Due: build:client, lint:client, test:client

reset names fixed
  client/src/app/components/virtual-player-name/virtual-player-name.component.spec.ts
Due: build:client, lint:client, test:client

A.Q booleen negatif
  client/src/app/components/virtual-player-name/virtual-player-name.component.ts
Due: build:client, lint:client, test:client

- Add coverage Database
  server/app/services/database/database.service.spec.ts
Due: build:server, lint:server, test:server

Fix main pages ui
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
Due: build:client, lint:client, test:client

virtual-player-name at 100
  client/src/app/components/virtual-player-name/virtual-player-name.component.spec.ts
Due: build:client, lint:client, test:client

Added score description
  common/goal-data.ts
  server/app/classes/goal/base-goal.ts
  server/app/classes/goal/goal-description.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.ts
  server/app/classes/goal/goals/short-word-high-score/short-word-high-score.ts
Due: build:server, lint:server, test:server

Commented tests to pass pipeline
  client/src/app/pages/game-page/game-page.component.spec.ts
Due: build:client, lint:client, test:client

Fixed place letter selection on resize
  .idea/runConfigurations/Start.xml
  client/src/app/components/board/board.component.spec.ts
  client/src/app/components/board/board.component.ts
  client/src/app/services/mouse-handling/mouse-handling.service.spec.ts
  server/app/classes/goal/base-goal.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

init-game at 100
  client/src/app/components/init-game/init-game.component.spec.ts
Due: build:client, lint:client, test:client
