Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

install:client:
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push

install:server:
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push

build:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
  ...

build:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
  ...

lint:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:client
  allow_failure: true
  script:
  - cd client
  ...

lint:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:server
  allow_failure: true
  script:
  - cd server
  ...

test:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:client
  script:
  ...

test:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - npm run coverage
  ...

Added VirtualPlayer debug output
  client/src/app/components/communication-box/communication-box.component.html
  server/app/classes/player/virtual-player/actions/place-action.spec.ts
  server/app/classes/player/virtual-player/actions/place-action.ts
  server/app/classes/player/virtual-player/actions/play-action.ts
  server/app/classes/player/virtual-player/virtual-player-easy/actions/play-action-easy.spec.ts
  server/app/classes/player/virtual-player/virtual-player-easy/actions/play-action-easy.ts
  server/app/classes/player/virtual-player/virtual-player-expert/actions/play-action-expert.spec.ts
  server/app/classes/player/virtual-player/virtual-player-expert/actions/play-action-expert.ts
  server/app/classes/validation/board-validator.ts
  server/app/classes/virtual-player/play-generator.spec.ts
  server/app/classes/virtual-player/play-generator.ts
  server/app/classes/virtual-player/play.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Removed refresh rest requests client side
  client/src/app/services/board/board.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/rack/rack.service.spec.ts
  client/src/app/services/rack/rack.service.ts
  client/src/app/services/reserve/reserve.service.ts
Due: build:client, lint:client, test:client

Game is now disposed if player decided to stop when opponent quit, or continued if clicked on continue
  client/src/app/components/opponent-quit/opponent-quit.component.html
  client/src/app/components/opponent-quit/opponent-quit.component.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Updated canvas refresh callback
  .idea/log2990-301.iml
  client/src/app/components/board/board.component.ts
  client/src/app/components/play-area/play-area.component.html
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/services/board/board.service.ts
Due: build:client, lint:client, test:client

Fixed client unit tests
  client/src/app/components/board/board.component.spec.ts
  client/src/app/components/board/board.component.ts
  client/src/app/services/board/board.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/rack/rack.service.spec.ts
  client/src/app/services/reserve/reserve.service.spec.ts
Due: build:client, lint:client, test:client

- Add JSON sechema validation for uploaded dictionaries - Make initGame work with dictionary selection
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/init-game/init-game.component.ts
  common/game-config.ts
  server/app/classes/helpers/dictionaries/invalid.json
  server/app/classes/helpers/dictionaries/not.json
  server/app/classes/helpers/dictionaries/valid.json
  server/app/controllers/admin/admin.controller.ts
  server/app/handlers/dictionary/dictionary-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/dictionary/dictionary.service.ts
  server/app/services/game/game.service.ts
  server/package-lock.json
  server/package.json
Due: install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Removed unused server controllers
  client/src/app/services/board/board.service.ts
  client/src/app/services/player/player.service.ts
  server/app/app.ts
  server/app/controllers/board/board.controller.spec.ts
  server/app/controllers/board/board.controller.ts
  server/app/controllers/player/player.controller.spec.ts
  server/app/controllers/player/player.controller.ts
  server/app/controllers/reserve/reserve.controller.spec.ts
  server/app/controllers/reserve/reserve.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Server now sending game data using sockets
  .idea/inspectionProfiles/Project_Default.xml
  client/src/app/components/board/board.component.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/controllers/player/player.controller.spec.ts
  server/app/handlers/player-handler/player-handler.spec.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix errors in tests
  server/app/controllers/game/game.controller.spec.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/services/dictionary/dictionary.service.spec.ts
  server/app/services/game/game-service.spec.ts
Due: build:server, lint:server, test:server

Configure dotenv in server
  server/app/handlers/score-handler/score-handler.ts
  server/app/index.ts
Due: build:server, lint:server, test:server

Games are now started when joining room
  server/app/app.ts
  server/app/controllers/game/game.controller.ts
  server/app/controllers/room/room.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game/game.service.ts
  server/app/services/sessionHandling/session-handling.service.ts
Due: build:server, lint:server, test:server

Added Dockerfile and docker configs for server
  .dockerignore
  .idea/runConfigurations/docker_compose.xml
  .idea/runConfigurations/run_server.xml
  server/.dockerignore
  server/Dockerfile
  server/docker-compose.yml
Due: build:server, lint:server, test:server

Enabled buildkit and tag condition
  .gitlab-ci.yml
Due: none

Change prod server port
  client/src/environments/environment.prod.ts
Due: build:client, lint:client, test:client

Added deployments
  .gitlab-ci.yml
Due: none

Docker build pipeline test
  .gitlab-ci.yml
  server/Dockerfile
Due: build:server, lint:server, test:server

Remove files unrelated to databse config
  server/app/handlers/score-handler/score-handler.spec.ts
  server/app/handlers/score-handler/score-handler.ts
Due: build:server, lint:server, test:server

Tests for DcitonaryService
  server/app/services/dictionary/dictionary.service.spec.ts
  server/app/services/dictionary/dictionary.service.ts
Due: build:server, lint:server, test:server

Add dependencies for last commit
  server/package-lock.json
  server/package.json
Due: install:server, build:server, lint:server, test:server

Fix lint and format in server
  server/app/app.ts
  server/app/controllers/room/room.controller.spec.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/index.ts
  server/app/server.ts
  server/app/services/game/game-service.spec.ts
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

Prevents client joining twice multiplayer games
  client/src/app/services/game/game.service.ts
  client/src/app/services/room/room.service.ts
  server/app/controllers/room/room.controller.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed unit tests
  client/src/app/services/board/board.service.spec.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/room/room.service.spec.ts
  server/app/app.ts
  server/app/classes/helpers/socket-test-helper.ts
  server/app/controllers/room/room.controller.spec.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/services/sessionHandling/session-handling.service.spec.ts
  server/mocha-helper.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Add test data to environment
  server/app/app.ts
Due: build:server, lint:server, test:server

Move test data of env vars to mocha helper
  server/app/app.ts
  server/mocha-helper.ts
Due: build:server, lint:server, test:server

Remove throw in app.ts when validating env vars
  server/app/app.ts
  server/mocha-helper.ts
Due: build:server, lint:server, test:server

Remove unused variable in session handler
  server/app/handlers/session-handler/session-handler.ts
Due: build:server, lint:server, test:server

Remove unnecessary if statement in app.ts validateEnv
  server/app/app.ts
Due: build:server, lint:server, test:server

Move dotenv config back to index.ts
  package.json
  server/app/app.ts
  server/app/index.ts
Due: build:server, lint:server, test:server

Restore score-handler in server
  server/app/handlers/score-handler/score-handler.spec.ts
  server/app/handlers/score-handler/score-handler.ts
Due: build:server, lint:server, test:server

Add necessary services and handler to manage scoreBoard in server
  server/app/services/database/database.service.spec.ts
  server/app/services/database/database.service.ts
  server/app/services/score/score.service.spec.ts
  server/app/services/score/score.service.ts
Due: build:server, lint:server, test:server

Add robots.txt
  client/angular.json
  client/src/robots.txt
Due: build:client, lint:client, test:client

Add dark mode
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/styles.scss
Due: build:client, lint:client, test:client

Fix & add tests
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/services/game/game.service.spec.ts
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/classes/player/virtual-player/virtual-player-easy/virtual-player-easy.spec.ts
  server/app/classes/player/virtual-player/virtual-player-easy/virtual-player-easy.ts
  server/app/classes/player/virtual-player/virtual-player-expert/virtual-player-expert.spec.ts
  server/app/classes/player/virtual-player/virtual-player-expert/virtual-player-expert.ts
  server/app/controllers/admin/admin.controller.spec.ts
  server/app/handlers/board-handler/board-handler.ts
  server/app/services/board/board-generator.service.ts
  server/app/services/dictionary/dictionary.service.spec.ts
  server/app/services/game/game-service.spec.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Small UI tweak
  client/src/app/components/init-game/init-game.component.html
Due: build:client, lint:client, test:client

Download now again functional
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/admin-page/admin-page.component.ts
  client/src/app/services/admin/admin.service.ts
  server/app/controllers/admin/admin.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Correction sprint 2
  Equipe301.xlsx
Due: none

Create database service in server
  server/app/classes/score.ts
  server/app/index.ts
  server/app/services/database/database.service.ts
  server/package-lock.json
  server/package.json
Due: install:server, build:server, lint:server, test:server

Add score service in server
  server/app/server.ts
  server/app/services/database/database.service.ts
  server/app/services/score/score.service.ts
Due: build:server, lint:server, test:server

Logic moved from convert to another method (humanToVirtual)
  client/src/app/services/game/game.service.ts
  client/src/app/services/room/room.service.ts
  common/game-config.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
