Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

install:client:
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push

install:server:
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push

build:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
  ...

build:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
  ...

lint:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:client
  allow_failure: true
  script:
  - cd client
  ...

lint:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:server
  allow_failure: true
  script:
  - cd server
  ...

test:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:client
  script:
  ...

test:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - npm run coverage
  ...

Saut de ligne + now calls reset instead of exit on quit
  client/src/app/components/opponent-quit/opponent-quit.component.spec.ts
  client/src/app/components/opponent-quit/opponent-quit.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/game/game.service.ts
Due: build:client, lint:client, test:client

Fix database url in database service
  server/app/services/database/database.service.ts
Due: build:server, lint:server, test:server

Default values in scoreboard only added once when server launched for the very first time
  server/app/services/database/database.service.ts
Due: build:server, lint:server, test:server

Fixed bug that made virtual let his timer run out
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

Commented tests so that pipeline passes
  client/src/app/components/opponent-quit/opponent-quit.component.spec.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
Due: build:client, lint:client, test:client

Fixed failing test
  server/app/services/game/game-service.spec.ts
Due: build:server, lint:server, test:server

Package.json retiré du a une erreur d'ajout
  server/package.json
Due: build:server, lint:server, test:server

fixed wrong deletion of pakcage.json
  package.json
  server/package.json
Due: build:server, lint:server, test:server

commented more tests
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/services/game/game-service.spec.ts
Due: build:server, lint:server, test:server

UI of game-list page
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
  client/src/assets/img/header_bg.jpg
  client/src/assets/img/scrabble_header.jpg
  common/game-config.ts
Due: build:client, lint:client, test:client

Calls reset on gameservice instead of on socket
  client/src/app/components/opponent-quit/opponent-quit.component.ts
Due: build:client, lint:client, test:client

add test to room-list component
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/assets/img/header_bg.jpg
  client/src/assets/img/scrabble_header.jpg
Due: build:client, lint:client, test:client

fix lint
  client/src/app/pages/room-list/room-list.component.spec.ts
Due: build:client, lint:client, test:client

Added player stats handler
  .idea/runConfigurations/build_server_docker.xml
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.ts
  server/app/classes/player/virtual-player/actions/exchange-action.ts
  server/app/classes/player/virtual-player/actions/place-action.ts
  server/app/classes/player/virtual-player/actions/skip-action.ts
  server/app/classes/player/virtual-player/virtual-player-easy/actions/play-action-easy.ts
  server/app/classes/player/virtual-player/virtual-player-easy/virtual-player-easy.ts
  server/app/classes/player/virtual-player/virtual-player-expert/actions/play-action-expert.ts
  server/app/classes/player/virtual-player/virtual-player-expert/virtual-player-expert.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/handlers/stats-handlers/game-stats-handler/game-stats-handler.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-handler.ts
  server/app/services/stats-generator/stats-handler-generator.service.ts
Due: build:server, lint:server, test:server

GameService at 100
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/services/game/game-service.spec.ts
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

virtualPlayer back at 100
  server/app/classes/player/virtual-player/virtual-player.spec.ts
Due: build:server, lint:server, test:server

SessionHandler at 100
  server/app/handlers/session-handler/session-handler.spec.ts
Due: build:server, lint:server, test:server

Dictionary functional
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/admin-page/admin-page.component.scss
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/pages/admin-page/admin-page.component.ts
  client/src/app/services/admin/admin.service.spec.ts
  client/src/app/services/admin/admin.service.ts
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/classes/player/virtual-player/virtual-player-easy/virtual-player-easy.spec.ts
  server/app/classes/player/virtual-player/virtual-player-easy/virtual-player-easy.ts
  server/app/classes/player/virtual-player/virtual-player-expert/virtual-player-expert.spec.ts
  server/app/classes/player/virtual-player/virtual-player-expert/virtual-player-expert.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/classes/validation/board-validator.spec.ts
  server/app/constants.ts
  server/app/controllers/admin/admin.controller.spec.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/handlers/board-handler/board-handler.ts
  server/app/handlers/dictionary-handler/dictionary-handler.ts
  server/app/server.ts
  server/app/services/board/board-generator.service.spec.ts
  server/app/services/board/board-generator.service.ts
  server/app/services/dictionary/dictionary.service.spec.ts
  server/app/services/dictionary/dictionary.service.ts
  server/app/services/game/game-service.spec.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix Julien's typo ;)
  client/src/app/services/messaging/messaging.service.ts
Due: build:client, lint:client, test:client

Fixed unintentional removal of line 'this.removePlayer' in abandonGae
  server/app/handlers/session-handler/session-handler.ts
Due: build:server, lint:server, test:server

Commented tests after pulling
  server/app/classes/player/virtual-player/virtual-player.spec.ts
Due: build:server, lint:server, test:server

Fixed typo in sessionHandler and format in html
  client/src/app/components/communication-box/communication-box.component.html
  server/app/handlers/session-handler/session-handler.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

run format on client
  client/src/app/pages/main-page/main-page.component.html
Due: build:client, lint:client, test:client

fix backspace problem
  client/src/app/components/board/board.component.ts
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/services/place-letter/place-letter.service.ts
Due: build:client, lint:client, test:client

Add logic of stats service for best scores
  server/app/classes/score.ts
  server/app/handlers/score-handler/score-handler.ts
  server/app/services/database/database.service.ts
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.spec.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

remove useless comment
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
Due: build:client, lint:client, test:client

Installed dotenv
  server/.mocharc.json
Due: build:server, lint:server, test:server

can no longer set positionInit if letter on board
  client/src/app/components/board/board.component.ts
Due: build:client, lint:client, test:client

Fix lint
  server/app/classes/score.ts
  server/app/controllers/room/room.controller.ts
  server/app/server.ts
  server/app/services/database/database.service.ts
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

Name replaced in scoreboard if many players with same score
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

GoalData added to common
  .idea/runConfigurations/test_client.xml
  common/goal-data.ts
  common/index.ts
  common/playerStats.ts
Due: none

Added goals
  common/goal-data.ts
  server/app/classes/goal/goal.ts
  server/app/classes/goal/goals/notifiers/exchange-notifier.ts
  server/app/classes/goal/goals/notifiers/placement-notifier.ts
  server/app/classes/goal/goals/notifiers/skip-notifier.ts
  server/app/classes/goal/goals/place-corner/place-corner.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.ts
  server/app/classes/goal/goals/place-many-3-in-row/many-letters-in-row.ts
  server/app/classes/goal/goals/place-on-border/place-on-border.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.ts
  server/app/classes/goal/goals/short-word-over-15/short-word-high-score.ts
Due: build:server, lint:server, test:server

Multiple names can now be stored in DB if same score
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

Change relevant functions to private in score and stats services
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

Add best scores component and service client side
  client/src/app/app.module.ts
  client/src/app/components/best-scores/best-scores.component.html
  client/src/app/components/best-scores/best-scores.component.scss
  client/src/app/components/best-scores/best-scores.component.spec.ts
  client/src/app/components/best-scores/best-scores.component.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/services/scoreboard/scoreboard-service.service.spec.ts
  client/src/app/services/scoreboard/scoreboard-service.service.ts
Due: build:client, lint:client, test:client

Fix scoreValue for findOne in score service
  client/src/app/app.module.ts
  client/src/app/components/best-scores/best-scores.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
  server/app/controllers/room/room.controller.ts
  server/app/services/score/score.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Add stats controller
  server/app/app.ts
  server/app/controllers/stats/stats.controller.spec.ts
  server/app/controllers/stats/stats.controller.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

Goals are now atomic
  common/goal-data.ts
  server/app/classes/goal/base-goal.ts
  server/app/classes/goal/goal-description.ts
  server/app/classes/goal/goal.ts
  server/app/classes/goal/goals/goal.decorator.ts
  server/app/classes/goal/goals/notifiers/exchange-notifier.ts
  server/app/classes/goal/goals/notifiers/placement-notifier.ts
  server/app/classes/goal/goals/notifiers/skip-notifier.ts
  server/app/classes/goal/goals/place-corner/place-corner.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.ts
  server/app/classes/goal/goals/place-many-3-in-row/many-letters-in-row.ts
  server/app/classes/goal/goals/place-on-border/place-on-border.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.ts
  server/app/classes/goal/goals/short-word-over-15/short-word-high-score.ts
Due: build:server, lint:server, test:server

Connect client to server in scoreboard service
  client/src/app/components/best-scores/best-scores.component.html
  client/src/app/components/best-scores/best-scores.component.ts
  client/src/app/modules/material.module.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/services/scoreboard/scoreboard-service.service.spec.ts
  client/src/app/services/scoreboard/scoreboard-service.service.ts
  client/src/app/services/scoreboard/scoreboard.service.spec.ts
  client/src/app/services/scoreboard/scoreboard.service.ts
  common/index.ts
  common/score.ts
  server/app/app.ts
  server/app/controllers/stats/stats.controller.ts
  server/app/services/database/database.service.ts
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Added GoalHandlers
  server/app/handlers/goal-handler/disabled-goal-handler.ts
  server/app/handlers/goal-handler/goal-handler.ts
  server/app/handlers/goal-handler/log2990-goal-handler.ts
Due: build:server, lint:server, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
