Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

install:client:
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push

install:server:
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push

build:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
  ...

build:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
  ...

lint:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:client
  allow_failure: true
  script:
  - cd client
  ...

lint:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:server
  allow_failure: true
  script:
  - cd server
  ...

test:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:client
  script:
  ...

test:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - npm run coverage
  ...

- Full coverage of database.service.ts
  server/app/services/database/database.service.spec.ts
  server/app/services/database/database.service.ts
Due: build:server, lint:server, test:server

Improved admin page player name selection UI
  client/src/app/app.module.ts
  client/src/app/components/virtual-player-name/virtual-player-name.component.html
  client/src/app/components/virtual-player-name/virtual-player-name.component.scss
  client/src/app/components/virtual-player-name/virtual-player-name.component.spec.ts
  client/src/app/components/virtual-player-name/virtual-player-name.component.ts
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/admin-page/admin-page.component.ts
Due: build:client, lint:client, test:client

Removed collection names from StatsService
  server/app/constants.ts
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

Removed stats related code from database service
  server/app/controllers/stats/stats.controller.spec.ts
  server/app/controllers/stats/stats.controller.ts
  server/app/server.ts
  server/app/services/database/database.service.ts
  server/app/services/score/score.service.ts
  server/app/services/stats/stats.service.spec.ts
  server/app/services/stats/stats.service.ts
Due: build:server, lint:server, test:server

Now resetting the leaderboard from admin page
  server/app/controllers/admin/admin.controller.ts
Due: build:server, lint:server, test:server

Fixed dictionary parsing
  client/src/app/pages/admin-page/admin-page.component.html
  server/app/controllers/admin/admin.controller.ts
  server/app/services/dictionary/dictionary.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Added error dialog
  client/src/app/app.module.ts
  client/src/app/components/error-dialog/error-dialog.component.html
  client/src/app/components/error-dialog/error-dialog.component.scss
  client/src/app/components/error-dialog/error-dialog.component.spec.ts
  client/src/app/components/error-dialog/error-dialog.component.ts
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/services/admin/admin.service.ts
Due: build:client, lint:client, test:client

Now opening dialog on upload error
  client/src/app/pages/admin-page/admin-page.component.ts
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/services/admin/admin.service.ts
Due: build:client, lint:client, test:client

Fixed unit tests
  client/src/app/components/error-dialog/error-dialog.component.spec.ts
  client/src/app/components/virtual-player-name/virtual-player-name.component.spec.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.spec.ts
  client/src/app/services/admin/admin.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/player/player.controller.spec.ts
  server/app/handlers/dictionary-handler/dictionary-handler.spec.ts
  server/app/services/game/game.service.ts
  server/app/services/stats/stats.service.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

- Remove comment
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.ts
Due: build:server, lint:server, test:server

- Fix tests - Uncomment tests - Change fs.rm to fs.unlink
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/controllers/admin/admin.controller.spec.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/player/player.controller.spec.ts
  server/app/handlers/board-handler/board-handler.spec.ts
  server/app/handlers/dictionary-handler/dictionary-handler.spec.ts
  server/app/services/dictionary/dictionary.service.ts
  server/app/services/game/game-service.spec.ts
Due: build:server, lint:server, test:server

Remove unnecessary color theme in style.scss
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/main-page/main-page.component.scss
  client/src/app/pages/room-list/room-list.component.scss
  client/src/styles.scss
Due: build:client, lint:client, test:client

- Fix Playercontroller test
  server/app/controllers/player/player.controller.spec.ts
Due: build:server, lint:server, test:server

- Fix GameService test
  server/app/services/game/game-service.spec.ts
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

- Add base tests for DictionaryPersistence
  server/app/services/dictionary/dictionary-persistence.spec.ts
Due: build:server, lint:server, test:server

SessionHandler at 90 missing endGameData getter
  server/app/handlers/session-handler/session-handler.spec.ts
Due: build:server, lint:server, test:server

- Fix tests for Client
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/services/admin/admin.service.spec.ts
  client/src/app/services/admin/admin.service.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/player/player.service.spec.ts
Due: build:client, lint:client, test:client

Fix main page ui
  client/src/app/components/toolbar/toolbar.component.html
  client/src/app/components/toolbar/toolbar.component.scss
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
  client/src/assets/img/digital-7.ttf
  client/src/custom-theme.scss
  client/src/index.html
  client/src/styles.scss
  server/app/handlers/session-handler/session-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Added board validation tests
  server/app/classes/validation/board-validator.spec.ts
Due: build:server, lint:server, test:server

Removed dropdown from MainPageComponent
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
Due: build:client, lint:client, test:client

Fixed client tests
  client/src/app/services/admin/admin.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
Due: build:client, lint:client, test:client

opponentQuit at 100
  client/src/app/classes/form-validation/name-validator.spec.ts
  client/src/app/components/opponent-quit/opponent-quit.component.spec.ts
  server/app/classes/player/virtual-player/actions/play-action.spec.ts
  server/app/classes/validation/board-validator.spec.ts
  server/app/services/score/score.service.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

nameValidator at 90
  client/src/app/classes/form-validation/name-validator.spec.ts
Due: build:client, lint:client, test:client

Rack Service at 97
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/rack/rack.service.spec.ts
Due: build:client, lint:client, test:client

Increase init-game component coverage
  client/src/app/components/init-game/init-game.component.spec.ts
Due: build:client, lint:client, test:client

Now displaying warning on dictionary update
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/services/admin/admin.service.ts
  common/answer.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/services/dictionary/dictionary-persistence.ts
  server/app/services/dictionary/dictionary.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix init-game test config to allow different gametypes
  client/src/app/components/init-game/init-game.component.spec.ts
Due: build:client, lint:client, test:client

Updated Dockerfile to support dictionary upload
  server/Dockerfile
  server/docker-compose.yml
Due: build:server, lint:server, test:server

Increase init-game coverage
  client/src/app/components/init-game/init-game.component.spec.ts
Due: build:client, lint:client, test:client

Dictionary folder is now cleared on reset
  server/app/services/dictionary/dictionary-persistence.ts
  server/app/services/dictionary/dictionary.service.ts
Due: build:server, lint:server, test:server

- Fix missing semicolons
  server/app/classes/validation/board-validator.spec.ts
Due: build:server, lint:server, test:server

- Add test for base implementation of abstract class GoalHandler
  server/app/handlers/goal-handler/goal-handler.spec.ts
Due: build:server, lint:server, test:server

Add help message to sesion handler
  server/app/handlers/session-handler/session-handler.ts
Due: build:server, lint:server, test:server

- Add test for base Log2990
  server/app/handlers/goal-handler/log2990-goal-handler.spec.ts
Due: build:server, lint:server, test:server

User is notified on invalid dictionary
  client/src/app/classes/form-validation/name-validator.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/components/virtual-player-name/virtual-player-name.component.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/room/room.service.ts
  server/app/services/dictionary/dictionary.service.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Add help message in communication box
  common/system-messages.constants.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:server, lint:server, test:server

Fixed unit tests
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/components/virtual-player-name/virtual-player-name.component.html
  client/src/app/components/virtual-player-name/virtual-player-name.component.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.spec.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/services/admin/admin.service.spec.ts
  client/src/app/services/admin/admin.service.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/player-name/player-name.service.spec.ts
  client/src/app/services/player-name/player-name.service.ts
  client/src/app/services/player/player.service.spec.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/services/game/game-service.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

- Add config
  .idea/runConfigurations/coverage_client.xml
  .idea/runConfigurations/coverage_server.xml
Due: none

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
