Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

install:client:
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push

install:server:
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push

build:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
  ...

build:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
  ...

lint:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:client
  allow_failure: true
  script:
  - cd client
  ...

lint:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:server
  allow_failure: true
  script:
  - cd server
  ...

test:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:client
  script:
  ...

test:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - npm run coverage
  ...

Obtained full coverage in commands service
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/services/commands/commands.service.spec.ts
Due: build:client, lint:client, test:client

Added server side validation
  client/src/app/services/commands/commands.service.ts
  server/app/handlers/board-handler/board-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed broken tests in commands service
  client/src/app/services/commands/commands.service.spec.ts
Due: build:client, lint:client, test:client

Fix broken path to environmentExt in game service
  client/src/app/services/game/game.service.ts
Due: build:client, lint:client, test:client

Fix refresh test in game service
  client/src/app/services/board/board.service.spec.ts
  client/src/app/services/board/board.service.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/grid/grid.service.spec.ts
  common/playerStats.ts
Due: build:client, lint:client, test:client

Remove conflict markers
  client/src/app/services/place-letter/place-letter.service.spec.ts
Due: build:client, lint:client, test:client

Fix broken path in place letter service
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/place-letter/place-letter.service.spec.ts
Due: build:client, lint:client, test:client

Fix minor rack focus glitch
  client/src/app/components/rack/rack.component.html
  client/src/app/components/rack/rack.component.spec.ts
  client/src/app/components/rack/rack.component.ts
Due: build:client, lint:client, test:client

Fix command service tests that broke after merge conflicts were solved
  client/src/app/services/commands/commands.service.spec.ts
Due: build:client, lint:client, test:client

Improved player messaging
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/player/player.service.ts
  common/system-messages.constants.ts
  server/app/classes/player/human-player/human-player.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Full coverage of GameController
  client/src/app/pages/room-list/room-list.component.spec.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/game/game.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Obtain full coverage in grid service
  client/src/app/services/grid/grid.service.spec.ts
Due: build:client, lint:client, test:client

Fixed unit tests
  client/src/app/components/end-game/end-game.component.spec.ts
  client/src/app/components/rack/rack.component.spec.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/services/commands/commands.service.spec.ts
  server/app/controllers/room/room.controller.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix expectations when tests must fail
  server/app/controllers/game/game.controller.spec.ts
Due: build:server, lint:server, test:server

Add startSinglePlayer test
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
Due: build:client, lint:client, test:client

Fix conflict markers
  client/src/app/services/commands/commands.service.spec.ts
Due: build:client, lint:client, test:client

- Full coverage socket service - Fix expectations in GameController
  server/app/controllers/game/game.controller.spec.ts
  server/app/services/socket/socket-service.spec.ts
Due: build:server, lint:server, test:server

Obtain full coverage in game mode page component
  client/src/app/pages/game-mode-page/game-mode-page.component.spec.ts
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
Due: build:client, lint:client, test:client

Fix endGame test
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  server/app/classes/validation/board-validator.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Obtain over 80 percent coverage in board service
  client/src/app/services/board/board.service.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  client/src/app/services/messaging/messaging.service.ts
Due: build:client, lint:client, test:client

- Full coverage of SocketClientService - Misc fixes
  client/src/app/classes/helpers/socket-test-helper.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  client/src/app/services/socket-client/socket-client.service.spec.ts
  client/src/app/services/socket-client/socket-client.service.ts
  server/app/classes/validation/board-validator.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

fix backSpace error
  client/src/app/components/board/board.component.ts
  client/src/app/services/board/board.service.ts
  client/src/app/services/place-letter/place-letter.service.ts
Due: build:client, lint:client, test:client

Added loggers in VirtualPlayer
  server/app/classes/player/virtual-player/virtual-player.ts
Due: build:server, lint:server, test:server

Fixed command parsing
  client/src/app/services/commands/commands.service.ts
Due: build:client, lint:client, test:client

100% test place-letter
  client/src/app/services/place-letter/place-letter.service.spec.ts
  client/src/app/services/place-letter/place-letter.service.ts
Due: build:client, lint:client, test:client

fix test error
  client/src/app/services/place-letter/place-letter.service.spec.ts
Due: build:client, lint:client, test:client

Add endGame test
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/player/player.service.spec.ts
Due: build:client, lint:client, test:client

Obtain full coverage in board service
  client/src/app/services/board/board.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/player/player.service.spec.ts
Due: build:client, lint:client, test:client

Fix endGame conflicts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
Due: build:client, lint:client, test:client

add some test to grid service 100% coverage but 86% branch
  client/src/app/services/grid/grid.service.spec.ts
  client/src/app/services/grid/grid.service.ts
Due: build:client, lint:client, test:client

fix lint
  client/src/app/services/grid/grid.service.spec.ts
Due: build:client, lint:client, test:client

Fixed virtual player play infinite filtering
  server/app/classes/player/virtual-player/actions/play-action.ts
  server/app/classes/player/virtual-player/virtual-player.ts
Due: build:server, lint:server, test:server

Fixed PlaceLetter preventing keyboard usage
  client/src/app/classes/special-character.ts
  client/src/app/components/board/board.component.html
  client/src/app/components/board/board.component.ts
  client/src/app/services/board/board.service.ts
  client/src/app/services/place-letter/place-letter.service.ts
Due: build:client, lint:client, test:client

Fix endGame test
  client/src/app/services/game/game.service.spec.ts
Due: build:client, lint:client, test:client

Exchange * no longer considered invalid
  client/src/app/services/commands/commands.service.ts
Due: build:client, lint:client, test:client

Add removed reserveService.refresh
  client/src/app/services/player/player.service.ts
Due: build:client, lint:client, test:client

Tests on server almost done, missing 5 statements overall
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/sessionHandling/session-handling.service.spec.ts
Due: build:server, lint:server, test:server

Remove unnecessary EndGameWinner.Draw in gameService
  client/src/app/services/game/game.service.ts
Due: build:client, lint:client, test:client

commented test on vp so that pipeline dosent fail
  server/app/classes/player/virtual-player/virtual-player.spec.ts
Due: build:server, lint:server, test:server

Commented test on vp so that pipeline passes
  server/app/classes/player/virtual-player/virtual-player.spec.ts
Due: build:server, lint:server, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
