Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*

Tune-ups stubs and tests
  server/app/controllers/board/board.controller.spec.ts
  server/app/controllers/player/player.controller.spec.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:server, lint:server, test:server

Fixed unit tests
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/room/room.service.spec.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix build fail due to css file size
  client/src/app/app.module.ts
  client/src/app/components/toolbar/toolbar/toolbar.component.html
  client/src/app/components/toolbar/toolbar/toolbar.component.scss
  client/src/app/components/toolbar/toolbar/toolbar.component.spec.ts
  client/src/app/components/toolbar/toolbar/toolbar.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
  client/src/styles.scss
Due: build:client, lint:client, test:client

Improved socket handling logic
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/room/room.service.ts
  client/src/app/services/timer/timer.service.ts
Due: build:client, lint:client, test:client

Almost full coverage for controller classes Misc tweaks to classes to make testing easier
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.ts
  server/app/controllers/board/board.controller.spec.ts
  server/app/controllers/board/board.controller.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/game/game.controller.ts
  server/app/controllers/player/player.controller.spec.ts
  server/app/controllers/player/player.controller.ts
  server/app/controllers/reserve/reserve.controller.spec.ts
  server/app/handlers/board-handler/board-handler.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:server, lint:server, test:server

Improved low resolution game display
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
Due: build:client, lint:client, test:client

Added ServerSide conversion logic
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  common/game-config.ts
  server/app/controllers/game.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game/game.service.ts
  server/app/services/sessionHandling/session-handling.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

To SinglePlayer conversion is now available
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/constants/global.constants.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/room/room.service.ts
  server/app/controllers/game.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Make tests return promise so expect()'s are properly handled
  server/app/controllers/board/board.controller.spec.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/player/player.controller.spec.ts
  server/app/controllers/reserve/reserve.controller.spec.ts
Due: build:server, lint:server, test:server

Added form to waiting room
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/constants/global.constants.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Games are now stopped on user disconnect
  client/src/app/services/game/game.service.ts
  client/src/app/services/room/room.service.ts
  server/app/classes/delay.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/controllers/game.controller.ts
  server/app/controllers/room.controller.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Removed start rest call
  client/src/app/services/game/game.service.ts
  client/src/app/services/room/room.service.ts
  common/game-config.ts
  server/app/controllers/game.controller.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Complete available room stats are passed to client
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/room/room.service.ts
  common/game-config.ts
  server/app/controllers/room.controller.ts
  server/app/services/game/game.service.ts
  server/nodemon.json
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed tests and linting
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/room/room.service.ts
  server/app/controllers/game.controller.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

uppercase is now working but problem with edge case
  client/src/app/classes/special-character.ts
  client/src/app/components/board/board/board.component.ts
  client/src/app/services/grid/grid.service.ts
Due: build:client, lint:client, test:client

Fix lint, format and duplicated toolbar folder
  client/src/app/app.module.ts
  client/src/app/components/toolbar/toolbar.component.html
  client/src/app/components/toolbar/toolbar.component.scss
  client/src/app/components/toolbar/toolbar.component.spec.ts
  client/src/app/components/toolbar/toolbar.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/pages/main-page/main-page.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/services/socket-client/socket-client.service.ts
Due: build:client, lint:client, test:client

Remove readonly
  client/src/app/services/player/player.service.ts
Due: build:client, lint:client, test:client

creation of placeLetterService
  client/src/app/components/board/board/board.component.ts
  client/src/app/services/grid/grid.service.ts
  client/src/app/services/place-letter/place-letter.service.spec.ts
  client/src/app/services/place-letter/place-letter.service.ts
  client/src/app/services/player/player.service.ts
Due: build:client, lint:client, test:client

all logic from boardComponent transfer to placeLetterService
  client/src/app/components/board/board/board.component.html
  client/src/app/components/board/board/board.component.ts
  client/src/app/services/place-letter/place-letter.service.ts
Due: build:client, lint:client, test:client

Tweaks tests to expect the right info Reduce the number of tests that need the resolve a null value
  server/app/constants.ts
  server/app/controllers/board/board.controller.spec.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/game/game.controller.ts
  server/app/controllers/player/player.controller.spec.ts
  server/app/controllers/reserve/reserve.controller.spec.ts
Due: build:server, lint:server, test:server

Fix tests in reserve
  client/src/app/services/reserve/reserve.service.spec.ts
  client/src/app/services/reserve/reserve.service.ts
Due: build:client, lint:client, test:client

start of test in place-letter
  client/src/app/components/board/board/board.component.ts
  client/src/app/services/grid/grid.service.ts
  client/src/app/services/place-letter/place-letter.service.spec.ts
  client/src/app/services/place-letter/place-letter.service.ts
  client/src/app/services/player/player.service.ts
Due: build:client, lint:client, test:client

Fixed client side messaging
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/constants/global.constants.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/messaging/messaging.service.ts
  client/src/app/services/room/room.service.ts
  common/game-config.ts
  common/message.ts
  server/app/controllers/room.controller.spec.ts
  server/app/controllers/room.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

human player done
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/handlers/reserve-handler/reserve-handler.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/session-handling.service.spec.ts
  server/app/services/sessionHandling/session-handling.service.spec.ts
Due: build:server, lint:server, test:server

can now play and validation
  client/src/app/components/board/board/board.component.html
  client/src/app/components/board/board/board.component.ts
  client/src/app/services/place-letter/place-letter.service.ts
  client/src/app/services/player/player.service.ts
Due: build:client, lint:client, test:client

Messaging capabilities added server-side
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/services/player/player.service.ts
  common/message.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.ts
  server/app/classes/player/virtual-player/actions/exchange-action.ts
  server/app/classes/player/virtual-player/actions/play-action.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/config.ts
  server/app/controllers/room.controller.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/handlers/socket-handler/socket-handler-generator.ts
  server/app/handlers/socket-handler/socket-handler.ts
  server/app/services/game/game.service.ts
  server/app/services/socket/socket-service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Removed LookupLetter call
  client/src/app/services/board/board.service.ts
  client/src/app/services/player/player.service.ts
  server/app/controllers/board.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Error message translation
  client/src/app/services/commands/commands.service.ts
  common/index.ts
  common/system-messages.constants.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/validation/board-validator.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/handlers/socket-handler/socket-handler.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

can now only play when its your time
  client/src/app/components/board/board.component.ts
Due: build:client, lint:client, test:client

Make all controller tests pass
  server/app/app.ts
  server/app/classes/socket-test-helper.ts
  server/app/controllers/board/board.controller.spec.ts
  server/app/controllers/board/board.controller.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/game/game.controller.ts
  server/app/controllers/player/player.controller.spec.ts
  server/app/controllers/player/player.controller.ts
  server/app/controllers/room/room.controller.spec.ts
  server/app/controllers/room/room.controller.ts
Due: build:server, lint:server, test:server

Server can now log as remote player
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  client/src/app/services/messaging/messaging.service.ts
  common/message.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/virtual-player/actions/exchange-action.ts
  server/app/classes/player/virtual-player/actions/play-action.ts
  server/app/classes/player/virtual-player/actions/skip-action.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/controllers/room.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Test tweaks
  client/src/app/classes/socket-test-helper.ts
  common/index.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/game/game.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Formating and small test tweaks
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  server/app/controllers/game/game.controller.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Correct test errors from merging
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/game/game.controller.ts
Due: build:server, lint:server, test:server

Fixed debug message showing same generated word multiple times
  client/src/app/components/communication-box/communication-box.component.html
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/services/messaging/messaging.service.ts
  server/app/classes/player/virtual-player/actions/play-action.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix if-return syntax
  client/src/app/classes/socket-test-helper.ts
  server/app/classes/socket-test-helper.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Add placeLetters tests in player service
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/rack/rack.service.ts
Due: build:client, lint:client, test:client

Tests on action play action not over
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/virtual-player/actions/exchange-action.spec.ts
  server/app/classes/player/virtual-player/actions/place-action.spec.ts
  server/app/classes/player/virtual-player/actions/play-action.spec.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/handlers/player-handler/player-handler.spec.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/services/sessionHandling/session-handling.service.spec.ts
Due: build:server, lint:server, test:server

Fix all tests in player service
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
Due: build:client, lint:client, test:client

Fix comments and format in player service tests
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/rack/rack.service.ts
  client/src/app/services/reserve/reserve.service.spec.ts
  client/src/app/services/reserve/reserve.service.ts
Due: build:client, lint:client, test:client
