Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*

fixed lint
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:server, lint:server, test:server

SessionHandling at 100
  server/app/services/sessionHandling/session-handling.service.spec.ts
Due: build:server, lint:server, test:server

Fix lint and format throughout client
  client/src/app/components/board/board.component.scss
  client/src/app/components/communication-box/communication-box.component.html
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/rack/rack.component.html
  client/src/app/components/toolbar/toolbar.component.scss
  client/src/app/pages/game-mode-page/game-mode-page.component.spec.ts
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.scss
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/board/board.service.spec.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/grid/grid.service.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  client/src/app/services/messaging/messaging.service.ts
  client/src/app/services/place-letter/place-letter.service.spec.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/rack/rack.service.spec.ts
  client/src/app/services/rack/rack.service.ts
  client/src/app/services/reserve/reserve.service.spec.ts
  client/src/app/services/room/room.service.spec.ts
  client/src/app/services/session/session.service.spec.ts
  client/src/app/services/socket-client/socket-client.service.spec.ts
  client/src/app/services/timer/timer.service.spec.ts
Due: build:client, lint:client, test:client

Fixed visual place letter exceptions and crashes
  client/src/app/components/board/board.component.html
  client/src/app/components/board/board.component.spec.ts
  client/src/app/components/board/board.component.ts
  client/src/app/services/board/board.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/mouse-handling/mouse-handling.service.ts
  client/src/app/services/place-letter/place-letter.service.spec.ts
  client/src/app/services/place-letter/place-letter.service.ts
  client/src/styles.scss
Due: build:client, lint:client, test:client

Fixed unit tests
  client/src/app/components/board/board.component.spec.ts
  client/src/app/components/board/board.component.ts
  client/src/app/services/place-letter/place-letter.service.spec.ts
  client/src/app/services/place-letter/place-letter.service.ts
Due: build:client, lint:client, test:client

Obtain near perfect coverage in rack component
  client/src/app/components/rack/rack.component.spec.ts
Due: build:client, lint:client, test:client

Resolved conflicts and fixed tests that were failing because of the new code
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/virtual-player/actions/exchange-action.spec.ts
  server/app/classes/player/virtual-player/actions/place-action.spec.ts
  server/app/classes/player/virtual-player/actions/play-action.spec.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/sessionHandling/session-handling.service.spec.ts
Due: build:server, lint:server, test:server

Full coverage MessagingService Change visibility of socket attribute
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  client/src/app/services/messaging/messaging.service.ts
  client/src/app/services/room/room.service.spec.ts
  client/src/app/services/room/room.service.ts
  client/src/app/services/socket-client/socket-client.service.ts
  server/app/classes/helpers/socket-test-helper.ts
  server/app/controllers/room/room.controller.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

HumanPlayer at 100
  server/app/classes/player/human-player/human-player.spec.ts
Due: build:server, lint:server, test:server

Full coverage timer service
  client/src/app/services/timer/timer.service.spec.ts
Due: build:client, lint:client, test:client

Resolved PR comments
  client/src/app/components/board/board.component.ts
  client/src/app/components/rack/rack.component.html
  client/src/app/services/grid/grid.service.ts
  client/src/app/services/place-letter/place-letter.service.ts
Due: build:client, lint:client, test:client

Fix test for line 75 in onNextTurn
  client/src/app/services/game/game.service.spec.ts
Due: build:client, lint:client, test:client

tests to verify that retrieveDirection returns none if placement is bad
  server/app/classes/validation/board-validator.spec.ts
Due: build:server, lint:server, test:server

Added board generator tests
  server/app/classes/validation/board-validator.ts
  server/app/services/board/board-generator.service.spec.ts
Due: build:server, lint:server, test:server

boardController at 100
  server/app/controllers/board/board.controller.spec.ts
Due: build:server, lint:server, test:server

Max coverage in WaitingRoomComponent
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/timer/timer.service.spec.ts
Due: build:client, lint:client, test:client

Add 100% of coverage in gameService
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/timer/timer.service.spec.ts
Due: build:client, lint:client, test:client

93% for board component
  client/src/app/components/board/board.component.spec.ts
  client/src/app/services/timer/timer.service.spec.ts
Due: build:client, lint:client, test:client

Add missing test for full coverage in board service
  client/src/app/services/board/board.service.spec.ts
Due: build:client, lint:client, test:client

Fix imports in place-letters
  client/src/app/services/place-letter/place-letter.service.ts
Due: build:client, lint:client, test:client

covers line 123-124 of room controller
  server/app/controllers/room/room.controller.spec.ts
Due: build:server, lint:server, test:server

playerHandler at 100
  server/app/handlers/player-handler/player-handler.spec.ts
Due: build:server, lint:server, test:server

playerHandler fix on adding player
  server/app/handlers/player-handler/player-handler.spec.ts
Due: build:server, lint:server, test:server

Added services tests
  server/app/services/dictionary/dictionary.service.ts
  server/app/services/game/game-service.spec.ts
Due: build:server, lint:server, test:server

board at 100
  server/app/classes/board/board.spec.ts
Due: build:server, lint:server, test:server

HumanPlayer at 100
  server/app/classes/player/human-player/human-player.ts
Due: build:server, lint:server, test:server

Fixed RoomControllerTests
  server/app/controllers/room/room.controller.spec.ts
  server/app/controllers/room/room.controller.ts
  server/app/services/sessionHandling/session-handling.service.ts
Due: build:server, lint:server, test:server

Session Handler at 100! Incredible!
  server/app/handlers/board-handler/board-handler.spec.ts
  server/app/handlers/board-handler/board-handler.ts
  server/app/handlers/session-handler/session-handler.spec.ts
Due: build:server, lint:server, test:server

boardGen at 100
  server/app/services/board/board-generator.service.spec.ts
Due: build:server, lint:server, test:server

hotfix on test should shuffle
  server/app/services/board/board-generator.service.spec.ts
Due: build:server, lint:server, test:server

- Max InitGameComponent's coverage - Remove readonly - Formatting
  client/src/app/classes/form-validation/name-validator.ts
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/services/board/board.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
Due: build:client, lint:client, test:client

sessionHandling at 100
  server/app/services/sessionHandling/session-handling.service.spec.ts
Due: build:server, lint:server, test:server

Added virtual player tests
  server/app/classes/player/virtual-player/actions/play-action.spec.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
Due: build:server, lint:server, test:server

Fixed unit tests
  server/app/controllers/room/room.controller.spec.ts
  server/app/controllers/room/room.controller.ts
  server/app/handlers/socket-handler/socket-handler.spec.ts
Due: build:server, lint:server, test:server

boardHandler at 100
  server/app/handlers/board-handler/board-handler.spec.ts
  server/app/handlers/session-handler/session-handler.spec.ts
Due: build:server, lint:server, test:server

removed useless comments
  server/app/controllers/room/room.controller.spec.ts
Due: build:server, lint:server, test:server

add some branch coverage board component
  client/src/app/components/board/board.component.spec.ts
Due: build:client, lint:client, test:client

Added play action test
  server/app/classes/player/virtual-player/actions/play-action.spec.ts
Due: build:server, lint:server, test:server

fix lint
  client/src/app/components/board/board.component.spec.ts
Due: build:client, lint:client, test:client

fixed so that last test doesnt fail on boardHandler
  server/app/handlers/board-handler/board-handler.spec.ts
Due: build:server, lint:server, test:server
