Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

install:client:
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push

install:server:
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push

build:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
  ...

build:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
  ...

lint:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:client
  allow_failure: true
  script:
  - cd client
  ...

lint:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:server
  allow_failure: true
  script:
  - cd server
  ...

test:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:client
  script:
  ...

test:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - npm run coverage
  ...

Fixed test : should create a multiplayer game.
  client/src/app/services/room/room.service.spec.ts
Due: build:client, lint:client, test:client

Improved code quality
  server/app/services/dictionary/dictionary-persistence.ts
Due: build:server, lint:server, test:server

Fix goals table
  client/src/app/components/objectives/objectives.component.html
  client/src/app/components/objectives/objectives.component.scss
  client/src/app/pages/game-page/game-page.component.scss
  server/app/classes/goal/goals/place-palindrome/place-palindrome.ts
  server/app/classes/goal/goals/short-word-high-score/short-word-high-score.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Uncommented GamePageComponent tests
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
Due: build:client, lint:client, test:client

Added HealthService tests
  client/src/app/services/health/health.service.spec.ts
Due: build:client, lint:client, test:client

Added PlayerNameService tests
  client/src/app/services/player-name/player-name.service.spec.ts
  client/src/app/services/player-name/player-name.service.ts
Due: build:client, lint:client, test:client

fixed negative boolean in admin page
  client/src/app/pages/admin-page/admin-page.component.ts
Due: build:client, lint:client, test:client

Add tutorial
  client/src/app/app.module.ts
  client/src/app/components/best-scores/best-scores.component.scss
  client/src/app/components/board/board.component.ts
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/init-game/init-game.component.scss
  client/src/app/components/objectives/objectives.component.html
  client/src/app/components/objectives/objectives.component.scss
  client/src/app/components/rack/rack.component.scss
  client/src/app/components/tutorial/tutorial.component.html
  client/src/app/components/tutorial/tutorial.component.scss
  client/src/app/components/tutorial/tutorial.component.spec.ts
  client/src/app/components/tutorial/tutorial.component.ts
  client/src/app/pages/connection-error/connection-error.component.html
  client/src/app/pages/connection-error/connection-error.component.scss
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.scss
Due: build:client, lint:client, test:client

useless return
  client/src/app/pages/admin-page/admin-page.component.ts
Due: build:client, lint:client, test:client

Fix format
  client/src/custom-theme.scss
  client/src/index.html
  client/src/styles.scss
Due: build:client, lint:client, test:client

Change stroke style selection color
  client/src/app/services/grid/grid.service.ts
Due: build:client, lint:client, test:client

Add empty tile in tutorial
  client/src/app/components/tutorial/tutorial.component.html
Due: build:client, lint:client, test:client

Fixed server tests
  server/app/services/dictionary/dictionary-persistence.spec.ts
Due: build:server, lint:server, test:server

Fix row color in objectives component
  client/src/app/components/objectives/objectives.component.scss
Due: build:client, lint:client, test:client

Added GamePageComponent tests
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.ts
Due: build:client, lint:client, test:client

Move digital-7 to font folder
  client/src/app/components/tutorial/tutorial.component.scss
  client/src/assets/font/digital-7.ttf
  client/src/styles.scss
Due: build:client, lint:client, test:client

Replace tooltip message of random placement button
  client/src/app/pages/room-list/room-list.component.html
Due: build:client, lint:client, test:client

Change color of delete button to accent in admin page
  client/src/app/components/virtual-player-name/virtual-player-name.component.html
Due: build:client, lint:client, test:client

Fixed InitGameComponent tests
  client/src/app/components/init-game/init-game.component.spec.ts
Due: build:client, lint:client, test:client

admin page at 60
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/pages/admin-page/admin-page.component.ts
  client/src/app/services/admin/admin.service.ts
Due: build:client, lint:client, test:client

playerController at 100
  server/app/controllers/player/player.controller.spec.ts
Due: build:server, lint:server, test:server

Fix reserve service tests
  client/src/app/components/tutorial/tutorial.component.scss
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/services/reserve/reserve.service.spec.ts
Due: build:client, lint:client, test:client

Added AdminService tests
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/services/admin/admin.service.spec.ts
Due: build:client, lint:client, test:client

- Add small coverage
  server/app/classes/player/virtual-player/actions/exchange-action.spec.ts
  server/app/classes/player/virtual-player/actions/exchange-action.ts
  server/app/handlers/stats-handlers/player-stats-handler/player-stats-handler.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.spec.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.ts
  server/app/services/admin/admin-persistence.spec.ts
  server/app/services/game/game-service.spec.ts
Due: build:server, lint:server, test:server

Fixed ui tests
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.ts
Due: build:client, lint:client, test:client

Opponent name is changed on abandon
  client/src/app/services/game/game.service.ts
  server/app/classes/goal/goals/many-letters-in-row/many-letters-in-row.spec.ts
  server/app/classes/goal/goals/skip-with-advantage/skip-with-advantage.spec.ts
  server/app/controllers/room/room.controller.spec.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

room controller at 96
  server/app/controllers/room/room.controller.spec.ts
Due: build:server, lint:server, test:server

useless imports
  client/src/app/components/virtual-player-name/virtual-player-name.component.spec.ts
  server/app/classes/goal/base-goal.spec.ts
  server/app/classes/goal/goals/many-letters-in-row/many-letters-in-row.spec.ts
  server/app/classes/goal/goals/place-letter-twice/place-letter-twice.spec.ts
  server/app/classes/goal/goals/place-long-word/place-long-word.spec.ts
  server/app/classes/goal/goals/place-palindrome/place-palindrome.spec.ts
  server/app/controllers/room/room.controller.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

AQ Negative Boolean
  server/app/services/admin/admin-persistence.ts
Due: build:server, lint:server, test:server

- Tests not working
  client/src/app/pages/admin-page/admin-page.component.spec.ts
Due: build:client, lint:client, test:client

adminService at 100
  server/app/services/admin/admin-persistence.spec.ts
  server/app/services/admin/admin-persistence.ts
Due: build:server, lint:server, test:server

adminPersistence for real (fixed a failing test)
  server/app/services/admin/admin-persistence.spec.ts
Due: build:server, lint:server, test:server

deleted commented test
  server/app/controllers/room/room.controller.spec.ts
Due: build:server, lint:server, test:server

Added game service tests
  client/src/app/services/board/board.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
Due: build:client, lint:client, test:client

Fix main-page-component tests
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/main-page/main-page.component.spec.ts
  client/src/app/services/reserve/reserve.service.spec.ts
  client/src/app/services/room/room.service.spec.ts
Due: build:client, lint:client, test:client

sessionStats at 91
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.spec.ts
Due: build:server, lint:server, test:server

- Tests
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/pages/admin-page/admin-page.component.ts
Due: build:client, lint:client, test:client

- Fix
  client/src/app/pages/admin-page/admin-page.component.spec.ts
Due: build:client, lint:client, test:client

Fix warnings about schema
  client/src/app/app.module.ts
  client/src/app/components/tutorial/tutorial.component.spec.ts
  client/src/app/components/virtual-player-name/virtual-player-name.component.spec.ts
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/pages/main-page/main-page.component.spec.ts
  client/src/app/pages/main-page/main-page.component.ts
Due: build:client, lint:client, test:client

- Fix
  server/app/handlers/stats-handlers/session-stats-handler/session-stats-handler.spec.ts
Due: build:server, lint:server, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
