Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*

Fix math random issue
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/handlers/reserve-handler/reserve-handler.spec.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/services/sessionHandling/session-handling.service.spec.ts
Due: build:server, lint:server, test:server

Added multiplayer join form
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.scss
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/room/room.service.ts
  server/app/classes/player/virtual-player/actions/skip-action.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

fixing stubs for actions
  server/app/classes/player/virtual-player/actions/place-action.spec.ts
  server/app/classes/player/virtual-player/actions/play-action.spec.ts
  server/app/handlers/session-handler/session-handler.spec.ts
Due: build:server, lint:server, test:server

Added NameValidator
  client/src/app/classes/form-validation/name-validator.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.scss
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/services/player/player.service.spec.ts
Due: build:client, lint:client, test:client

Added validation : players cannot have the same name in multiplayer games
  client/src/app/classes/form-validation/name-validator.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.scss
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/services/commands/commands.service.ts
Due: build:client, lint:client, test:client

Added error dialog prompt
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.scss
  client/src/app/pages/room-list/room-list.component.ts
Due: build:client, lint:client, test:client

Fixed random bonuses
  client/src/app/pages/room-list/room-list.component.html
  common/game-config.ts
  server/app/controllers/room/room.controller.ts
  server/app/handlers/board-handler/board-handler.ts
  server/app/services/board/board-generator.service.spec.ts
  server/app/services/board/board-generator.service.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed tests
  client/src/app/classes/form-validation/name-validator.spec.ts
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  server/app/controllers/board/board.controller.spec.ts
  server/app/controllers/room/room.controller.spec.ts
  server/app/handlers/board-handler/board-handler.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

86% coverage place-letter
  client/src/app/components/board/board.component.ts
  client/src/app/services/board/board.service.ts
  client/src/app/services/grid/grid.service.ts
  client/src/app/services/place-letter/place-letter.service.spec.ts
  client/src/app/services/place-letter/place-letter.service.ts
  client/src/app/services/rack/rack.service.ts
Due: build:client, lint:client, test:client

100% coverage place-letter service
  client/src/app/services/place-letter/place-letter.service.spec.ts
Due: build:client, lint:client, test:client

Added prod url
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.ts
  client/src/environments/environment.prod.ts
Due: build:client, lint:client, test:client

96% in grid service
  client/src/app/components/board/board.component.spec.ts
  client/src/app/components/board/board.component.ts
  client/src/app/services/grid/grid.service.spec.ts
  client/src/app/services/grid/grid.service.ts
  client/src/app/services/place-letter/place-letter.service.spec.ts
Due: build:client, lint:client, test:client

Changed environnement path reference
  client/src/app/services/board/board.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/rack/rack.service.ts
  client/src/app/services/reserve/reserve.service.ts
  client/src/app/services/room/room.service.ts
  client/tsconfig.json
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/config.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Start rack service test
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/rack/rack.service.spec.ts
  client/src/app/services/reserve/reserve.service.ts
Due: build:client, lint:client, test:client

Remote player color is now red
  client/src/app/components/toolbar/toolbar.component.scss
  client/src/app/constants/global.constants.ts
  client/src/app/pages/game-page/game-page.component.scss
  client/src/styles.scss
  server/app/classes/validation/board-validator.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed error messages not being displayed
  client/src/app/services/commands/commands.service.ts
Due: build:client, lint:client, test:client

Fix refresh function in reserve service
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/rack/rack.service.spec.ts
  client/src/app/services/reserve/reserve.service.spec.ts
  client/src/app/services/reserve/reserve.service.ts
Due: build:client, lint:client, test:client

Virtual displays the right exchanged letter count
  server/app/classes/player/virtual-player/actions/exchange-action.ts
Due: build:server, lint:server, test:server

Finish rack service tests
  client/src/app/classes/form-validation/name-validator.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/rack/rack.service.spec.ts
Due: build:client, lint:client, test:client

Start time service tests
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  client/src/app/services/messaging/messaging.service.ts
  client/src/app/services/session/session.service.spec.ts
  client/src/app/services/timer/timer.service.spec.ts
  client/src/app/services/timer/timer.service.ts
Due: build:client, lint:client, test:client

Add timer service tests
  client/src/app/services/timer/timer.service.spec.ts
  client/src/app/services/timer/timer.service.ts
Due: build:client, lint:client, test:client

Player finished, still has problems with vp
  server/app/classes/board/board.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.spec.ts
  server/app/classes/player/virtual-player/actions/play-action.spec.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/handlers/player-handler/player-handler.spec.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/services/sessionHandling/session-handling.service.spec.ts
Due: build:server, lint:server, test:server

Obtained full coverage in session service
  client/src/app/services/session/session.service.spec.ts
Due: build:client, lint:client, test:client

QA fixes server-side, no refactoring
  client/src/app/components/rack/rack.component.ts
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/services/board/board.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/reserve/reserve.service.ts
  client/src/app/services/room/room.service.ts
  common/index.ts
  common/socket-commands.ts
  server/app/classes/dictionary/dictionary.ts
  server/app/classes/dictionary/word-definition.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/virtual-player/actions/play-action.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/classes/trie/trie.ts
  server/app/classes/validation/board-validator.ts
  server/app/classes/validation/validation-response.ts
  server/app/controllers/board/board.controller.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/game/game.controller.ts
  server/app/controllers/player/player.controller.ts
  server/app/controllers/reserve/reserve.controller.ts
  server/app/controllers/room/room.controller.spec.ts
  server/app/controllers/room/room.controller.ts
  server/app/handlers/board-handler/board-handler.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed unit tests
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/player/player.service.ts
  server/app/classes/virtual-player/play-generator.spec.ts
  server/app/handlers/board-handler/board-handler.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Obtained full coverage in grid service
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/grid/grid.service.spec.ts
  client/src/app/services/grid/grid.service.ts
  common/board-data.ts
  common/square.ts
Due: build:client, lint:client, test:client

Fix lint
  server/app/classes/virtual-player/play-generator.spec.ts
Due: build:server, lint:server, test:server

Fixed EndGame behavior
  client/src/app/classes/end-game-winner.ts
  client/src/app/components/end-game/end-game.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/socket-client/socket-client.service.ts
  server/app/controllers/room/room.controller.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

70% test in board component
  client/src/app/components/board/board.component.spec.ts
  client/src/app/components/board/board.component.ts
  client/src/app/services/grid/grid.service.spec.ts
  client/src/app/services/grid/grid.service.ts
  client/src/app/services/place-letter/place-letter.service.ts
  client/src/app/services/rack/rack.service.ts
Due: build:client, lint:client, test:client

Fixed exchange letter being accessible on other player turn
  client/src/app/components/rack/rack.component.html
  client/src/app/components/rack/rack.component.ts
Due: build:client, lint:client, test:client

SessionHandler at 90
  server/app/handlers/session-handler/session-handler.ts
Due: build:server, lint:server, test:server

PlayerHandler at 100
  server/app/classes/player/player.spec.ts
  server/app/handlers/player-handler/player-handler.spec.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/services/sessionHandling/session-handling.service.spec.ts
Due: build:server, lint:server, test:server

Rack selection uses focus
  client/src/app/components/rack/rack.component.html
  client/src/app/components/rack/rack.component.ts
  server/app/controllers/room/room.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Obtained near perfect coverage in communication box
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/grid/grid.service.spec.ts
  client/src/app/services/messaging/messaging.service.ts
Due: build:client, lint:client, test:client

Prevent parse input from throwing errors
  client/src/app/services/commands/commands.service.ts
Due: build:client, lint:client, test:client

Remove code coverage for test helpers
  client/angular.json
  client/src/app/classes/canvas-test-helper.spec.ts
  server/package.json
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Exclude helpers folder from code coverage
  client/angular.json
  server/package.json
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Move helpers to their own folder
  client/src/app/classes/helpers/canvas-test-helper.ts
  client/src/app/classes/helpers/socket-test-helper.ts
  server/app/classes/helpers/socket-test-helper.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Refactored helpers
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/grid/grid.service.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  server/app/controllers/room/room.controller.spec.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

fix the border problem and 94% covered
  client/src/app/components/board/board.component.spec.ts
  client/src/app/components/board/board.component.ts
  client/src/app/services/place-letter/place-letter.service.ts
Due: build:client, lint:client, test:client
