Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

install:client:
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push

install:server:
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push

build:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
  ...

build:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
  ...

lint:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:client
  allow_failure: true
  script:
  - cd client
  ...

lint:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:server
  allow_failure: true
  script:
  - cd server
  ...

test:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:client
  script:
  ...

test:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - npm run coverage
  ...

Fix tests bug
  client/src/app/components/init-solo-mode/init-solo-mode.component.html
  client/src/app/components/init-solo-mode/init-solo-mode.component.spec.ts
  client/src/app/modules/material.module.ts
Due: build:client, lint:client, test:client

BoardHandler always retrieves new letters
  server/app/classes/board/board-handler.ts
  server/app/controllers/board.controller.ts
Due: build:server, lint:server, test:server

Rest calls are used for Board and VirtualPlayer
  client/src/app/components/init-solo-mode/init-solo-mode.component.spec.ts
  client/src/app/components/init-solo-mode/init-solo-mode.component.ts
  client/src/app/services/board/board.service.ts
  client/src/app/services/board/mock-board.service.spec.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/grid/grid.service.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/session/session.service.spec.ts
  client/src/app/services/session/session.service.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  client/tsconfig.json
Due: build:client, lint:client, test:client

- Add socket logic for rooms Co-authored-by: eloisebrosseau <eloisebrosseau@users.noreply.github.com> Co-authored-by: RamiKoh <RamiKoh@users.noreply.github.com>
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/messaging/messaging.service.ts
  client/src/environments/environment.ts
  server/app/controllers/room.controller.ts
  server/package-lock.json
  server/package.json
Due: install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed unit tests
  client/src/app/services/board/board.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/grid/grid.service.spec.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/virtual-player/virtual-player.service.spec.ts
  server/app/classes/board/board-handler.spec.ts
  server/app/classes/virtual-player/play-generator.spec.ts
  server/app/classes/virtual-player/play-generator.ts
  server/tsconfig.app.json
  server/tsconfig.spec.json
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Correction sprint 1
  Equipe301.xlsx
Due: none

Fix common path
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/messaging/messaging.service.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/timer/timer.service.spec.ts
  client/src/app/services/timer/timer.service.ts
  client/src/app/services/virtual-player/actions/exchange-action.ts
  client/src/app/services/virtual-player/actions/play-action.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  common/index.ts
  server/app/controllers/room.controller.ts
  server/app/services/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix back button routing
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.ts
Due: build:client, lint:client, test:client

Add socket client service
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/components/init-solo-mode/init-solo-mode.component.spec.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  client/src/app/services/messaging/messaging.service.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/socket-client/socket-client.service.spec.ts
  client/src/app/services/socket-client/socket-client.service.ts
  client/src/app/services/virtual-player/actions/exchange-action.spec.ts
  client/src/app/services/virtual-player/actions/play-action.spec.ts
  client/src/app/services/virtual-player/virtual-player.service.spec.ts
  server/app/controllers/room.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix initGame component
  client/src/app/app.module.ts
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/init-game/init-game.component.scss
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/app/app.component.spec.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.scss
  client/src/app/pages/game-mode-page/game-mode-page.component.spec.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/styles.scss
Due: build:client, lint:client, test:client

Refactor waiting room to room list
  client/src/app/app.module.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.scss
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
  server/app/controllers/room.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Add image to waiting room
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  server/app/controllers/room.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Added letter manipulation on rack
  client/src/app/components/rack/rack.component.html
  client/src/app/components/rack/rack.component.scss
  client/src/app/components/rack/rack.component.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/rack/rack.service.ts
Due: build:client, lint:client, test:client

Letters are only selected when rack is hovered
  client/src/app/components/rack/rack.component.html
  client/src/app/components/rack/rack.component.ts
  client/src/app/services/rack/rack.service.ts
Due: build:client, lint:client, test:client

Fixed some unit tests
  client/src/app/components/rack/rack.component.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/rack/rack.service.spec.ts
Due: build:client, lint:client, test:client

Fix last rerouting problems
  client/src/app/app.module.ts
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/services/messaging/messaging.service.spec.ts
  client/src/app/services/messaging/messaging.service.ts
  client/src/app/services/socket-client/socket-client.service.spec.ts
  client/src/app/services/socket-client/socket-client.service.ts
  client/src/app/services/virtual-player/actions/play-action.spec.ts
  server/app/app.ts
  server/app/controllers/room.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix tests
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/virtual-player/actions/exchange-action.spec.ts
  client/src/app/services/virtual-player/actions/play-action.spec.ts
Due: build:client, lint:client, test:client

Fix linting in client
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/commands/commands.service.spec.ts
Due: build:client, lint:client, test:client

Fix exchange letter command syntax
  client/src/app/services/commands/commands.service.ts
Due: build:client, lint:client, test:client

Add reserve command
  client/src/app/constants/system-messages.constants.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/reserve/reserve.service.spec.ts
  client/src/app/services/reserve/reserve.service.ts
Due: build:client, lint:client, test:client

Fix: text wrapping in messaging
  client/src/app/components/communication-box/communication-box.component.scss
  client/src/app/services/game/game.service.ts
Due: build:client, lint:client, test:client

Fix PlayerService unable to find letters in rack
  client/src/app/services/player/player.service.ts
Due: build:client, lint:client, test:client

Added unit tests
  client/src/app/components/rack/rack.component.spec.ts
  client/src/app/components/rack/rack.component.ts
  client/src/app/services/rack/rack.service.spec.ts
Due: build:client, lint:client, test:client

Fixed fs not being recognized in tests
  server/tsconfig.json
Due: build:server, lint:server, test:server

Fix tests related to syntax change
  client/src/app/services/commands/commands.service.spec.ts
Due: build:client, lint:client, test:client

- remove tests - add elements to help testing
  client/package-lock.json
  client/package.json
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
Due: install:client, build:client, lint:client, test:client

Fix test error related to new text wrapping in messagin
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/game/game.service.ts
Due: build:client, lint:client, test:client

Fix reserve display
  client/src/app/constants/system-messages.constants.ts
  client/src/app/services/commands/commands.service.spec.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/reserve/reserve.service.spec.ts
  client/src/app/services/reserve/reserve.service.ts
Due: build:client, lint:client, test:client

Rack squares are highlighted on right click
  client/src/app/components/rack/rack.component.html
  client/src/app/components/rack/rack.component.scss
  client/src/app/components/rack/rack.component.spec.ts
  client/src/app/components/rack/rack.component.ts
  client/src/app/services/rack/rack.service.ts
Due: build:client, lint:client, test:client

Only one rack selection is type is now possible
  client/src/app/components/rack/rack.component.ts
Due: build:client, lint:client, test:client

Added board component
  client/src/app/app.module.ts
  client/src/app/components/board/board/board.component.html
  client/src/app/components/board/board/board.component.scss
  client/src/app/components/board/board/board.component.spec.ts
  client/src/app/components/board/board/board.component.ts
  client/src/app/components/play-area/play-area.component.html
  client/src/app/components/play-area/play-area.component.scss
  client/src/app/components/play-area/play-area.component.spec.ts
  client/src/app/components/play-area/play-area.component.ts
Due: build:client, lint:client, test:client

Fix selection not getting reset after keyboard event
  .idea/inspectionProfiles/Project_Default.xml
  client/src/app/components/play-area/play-area.component.html
  client/src/app/components/rack/rack.component.ts
Due: build:client, lint:client, test:client

Fix: successful command
  client/src/app/services/commands/commands.service.ts
Due: build:client, lint:client, test:client

Add socket mock library
  client/package-lock.json
  client/package.json
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
Due: install:client, build:client, lint:client, test:client

Added buttons to cancel reserve selection
  .idea/encodings.xml
  client/src/app/components/play-area/play-area.component.html
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/rack/rack.component.ts
Due: build:client, lint:client, test:client

Add white-space css in communication-box
  client/src/app/components/communication-box/communication-box.component.scss
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
Due: build:client, lint:client, test:client

Fix max players logic in room controller
  server/app/controllers/room.controller.ts
Due: build:server, lint:server, test:server

Tried to put info boxes in flexbox
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/pages/game-page/game-page.component.ts
Due: build:client, lint:client, test:client

Exchange button now appear on fade animation
  client/src/app/components/play-area/play-area.component.html
  client/src/app/components/play-area/play-area.component.scss
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/rack/rack.component.ts
Due: build:client, lint:client, test:client

Fixed and added unit tests
  .idea/inspectionProfiles/Project_Default.xml
  .idea/log2990-301.iml
  client/src/app/components/play-area/play-area.component.html
  client/src/app/components/play-area/play-area.component.spec.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/rack/rack.component.spec.ts
  client/src/app/components/rack/rack.component.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/services/rack/rack.service.ts
Due: build:client, lint:client, test:client

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
