Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*

Fix lint
  client/src/app/services/commands/commands.service.ts
Due: build:client, lint:client, test:client

Added PlayerHandler
  server/app/handlers/player-handler/player.handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/board/board-generator.service.spec.ts
  server/app/services/game.service.ts
Due: build:server, lint:server, test:server

Fix lint and format
  client/src/app/services/commands/commands.service.ts
Due: build:client, lint:client, test:client

Use parseInput to exchange letters with mouse in rack component
  client/src/app/components/rack/rack.component.html
  client/src/app/components/rack/rack.component.ts
Due: build:client, lint:client, test:client

Removed PlayerData from client
  client/src/app/classes/player-data.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  server/app/controllers/player.controller.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

PlayerStats interface moved in common
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/services/game/game.service.ts
  common/index.ts
  common/player-stats.ts
Due: build:client, lint:client, test:client

Player is now an abstract class
  client/src/app/constants/global.constants.ts
  server/app/classes/player-data.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.ts
  server/app/classes/player/virtual-player/actions/place-action.ts
  server/app/classes/player/virtual-player/actions/skip-action.spec.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/config.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Uniform initialization of properties in constructor throughout project
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/game-mode-page/game-mode-page.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/grid/grid.service.ts
  client/src/app/services/messaging/messaging.service.ts
  client/src/app/services/mouse-handling/mouse-handling.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/socket-client/socket-client.service.ts
  client/src/app/services/timer/timer.service.ts
Due: build:client, lint:client, test:client

Fix variable names conventions and types throughout project
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/components/rack/rack.component.ts
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.ts
  common/letter.ts
  server/app/app.ts
  server/app/handlers/reserve-handler/reserve-handler.ts
  server/app/services/board/board-generator.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Added server-side end game implementation
  common/index.ts
  common/player-stats.ts
  common/playerStats.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.ts
  server/app/classes/player/virtual-player/actions/skip-action.spec.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
Due: build:server, lint:server, test:server

Added get stats request
  server/app/controllers/player.controller.ts
Due: build:server, lint:server, test:server

Now listening for end game event
  client/src/app/components/end-game/end-game.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/game/game.service.ts
  server/app/handlers/socket-handler/socket-handler.ts
  server/app/services/socket-service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Added RackService refresh call
  client/src/app/services/game/game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/rack/rack.service.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fixed unit tests
  client/src/app/components/end-game/end-game.component.spec.ts
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/components/rack/rack.component.spec.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/rack/rack.service.spec.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Make SocketService pass
  common/socket-test-helper.ts
  server/app/services/socket/socket-service.spec.ts
  server/app/services/socket/socket-service.ts
Due: build:server, lint:server, test:server

Add VS Code configuration for test debugging
  .vscode/launch.json
Due: none

Add tests for controllers, services
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/pages/room-list/room-list.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  common/socket-test-helper.ts
  server/app/controllers/board.controller.spec.ts
  server/app/controllers/board.controller.ts
  server/app/controllers/game.controller.spec.ts
  server/app/controllers/game.controller.ts
  server/app/controllers/player.controller.ts
  server/app/controllers/reserve.controller.ts
  server/app/controllers/room.controller.spec.ts
  server/app/controllers/room.controller.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/handlers/socket-handler/socket-handler.spec.ts
  server/app/handlers/socket-handler/socket-handler.ts
  server/app/server.ts
  server/app/services/game/game.service.ts
  server/app/services/sessionHandling/session-handling.service.spec.ts
  server/app/services/sessionHandling/session-handling.service.ts
  server/app/services/socket-service.ts
  server/package-lock.json
  server/package.json
Due: install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

Added RoomService
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/room/room.service.spec.ts
  client/src/app/services/room/room.service.ts
  client/src/app/services/socket-client/socket-client.service.ts
  common/game-config.ts
  server/app/controllers/game.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Full coverage for class RoomController
  common/socket-test-helper.ts
  server/app/controllers/game.controller.spec.ts
  server/app/controllers/room.controller.spec.ts
  server/app/controllers/room.controller.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/sessionHandling/session-handling.service.ts
Due: build:server, lint:server, test:server

Fix boolean comparisons in gamePageComponent
  client/src/app/pages/game-page/game-page.component.ts
Due: build:client, lint:client, test:client

Multiplayer game can be initialised
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/room-list/room-list.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/room/room.service.ts
  server/app/controllers/game.controller.ts
  server/app/controllers/room.controller.ts
  server/app/services/game.service.ts
  server/app/services/session-handling.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Remove unnecessary negative boolean
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/components/rack/rack.component.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/messaging/messaging.service.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/validation/board-validator.ts
  server/app/handlers/board-handler/board-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix multiplayer game time and colors
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/services/room/room.service.ts
  client/src/app/services/timer/timer.service.ts
  client/src/styles.scss
  common/game-type.ts
  server/app/handlers/session-handler/session-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Reduce complixity of some if statements
  client/src/app/classes/time/timer.ts
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/components/end-game/end-game.component.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/components/rack/rack.component.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/grid/grid.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/rack/rack.service.ts
  client/src/app/services/socket-client/socket-client.service.ts
  client/src/app/services/timer/timer.service.ts
Due: build:client, lint:client, test:client

Reduce complixity of some if statements
  client/src/app/classes/time/timer.ts
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/components/end-game/end-game.component.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/components/rack/rack.component.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/grid/grid.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/rack/rack.service.ts
  client/src/app/services/socket-client/socket-client.service.ts
  client/src/app/services/timer/timer.service.ts
  server/app/classes/board/board.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/trie/trie.ts
  server/app/classes/validation/board-validator.ts
  server/app/controllers/room.controller.ts
  server/app/server.ts
  server/app/services/session-handling.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Uniform naming convention in file names
  client/src/app/app.module.ts
  client/src/app/classes/error-name/error.ts
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/components/size-selector/size-selector.component.html
  client/src/app/components/size-selector/size-selector.component.scss
  client/src/app/components/size-selector/size-selector.component.spec.ts
  client/src/app/components/size-selector/size-selector.component.ts
Due: build:client, lint:client, test:client

Fix tests in controllers
  server/app/controllers/game.controller.spec.ts
  server/app/controllers/room.controller.spec.ts
Due: build:server, lint:server, test:server

Abandon option is now enabled in waiting room
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/room/room.service.ts
  server/app/controllers/room.controller.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/services/session-handling.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Fix recent client-side tests
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
Due: build:client, lint:client, test:client

Replace anonymous objects with interface
  common/bonus.ts
  common/index.ts
  common/word-definition.ts
  server/app/classes/dictionary/dictionary.ts
  server/app/classes/trie/trie.ts
Due: build:server, lint:server, test:server

Added ability to reset WebSockets
  client/src/app/services/game/game.service.ts
  client/src/app/services/room/room.service.ts
  client/src/app/services/socket-client/socket-client.service.ts
Due: build:client, lint:client, test:client

Disabled loggers test warnings
  client/src/app/components/rack/rack.component.spec.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/services/socket/socket-service.spec.ts
  server/mocha-helper.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Remove unnecessary disable lint
  client/src/app/app.module.ts
  client/src/app/components/board/board.component.html
  client/src/app/components/board/board.component.scss
  client/src/app/components/board/board.component.spec.ts
  client/src/app/components/board/board.component.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/components/end-game/end-game.component.spec.ts
  client/src/app/components/rack/rack.component.spec.ts
  client/src/app/components/rack/rack.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/commands/commands.service.ts
  client/src/app/services/game/game.service.ts
  client/src/app/services/grid/grid.service.spec.ts
  client/src/app/services/virtual-player/virtual-player.service.ts
  common/bonus.ts
  common/direction.ts
  server/app/app.ts
  server/app/classes/validation/board-validator.spec.ts
  server/app/server.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

beginning of session handler tests
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/services/session-handling.service.ts
Due: build:server, lint:server, test:server

Reduce nesting in boardValidator
  server/app/classes/validation/board-validator.ts
Due: build:server, lint:server, test:server

REST API tests working
  server/app/app.ts
  server/app/controllers/board/board.controller.spec.ts
  server/app/controllers/board/board.controller.ts
  server/app/controllers/game.controller.spec.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/game/game.controller.ts
  server/app/controllers/player/player.controller.spec.ts
  server/app/controllers/player/player.controller.ts
  server/app/controllers/reserve/reserve.controller.spec.ts
  server/app/controllers/reserve/reserve.controller.ts
  server/app/controllers/room/room.controller.spec.ts
  server/app/controllers/room/room.controller.ts
  server/app/handlers/reserve-handler/reserve-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/index.ts
  server/app/server.ts
Due: build:server, lint:server, test:server

Change font color depending on message type
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/communication-box/communication-box.component.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  common/message.ts
Due: build:client, lint:client, test:client

Fix test in room controller
  server/app/controllers/room.controller.spec.ts
Due: build:server, lint:server, test:server

Add REST calls in test methods
  server/app/app.ts
  server/app/controllers/board/board.controller.spec.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/player/player.controller.spec.ts
Due: build:server, lint:server, test:server

Resolved MR comments
  client/src/app/components/init-game/init-game.component.html
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/services/socket/socket-service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server
