Repository bourquejulien/scrabble-one: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, build:client, build:server, lint:client, lint:server, test:client, test:server

install:client:
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push

install:server:
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push

build:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
  ...

build:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
  ...

lint:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:client
  allow_failure: true
  script:
  - cd client
  ...

lint:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: lint
  needs:
  - build:server
  allow_failure: true
  script:
  - cd server
  ...

test:client:
  before_script:
  - if [ ! -d "client/node_modules" ]; then npm ci --prefix client .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:client
  script:
  ...

test:server:
  before_script:
  - if [ ! -d "server/node_modules" ]; then npm ci --prefix server .npm --prefer-offline; fi
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: test
  needs:
  - build:server
  script:
  - cd server
  - npm run coverage
  ...

Fixed room list dialog bug
  client/src/app/pages/room-list/room-list.component.ts
Due: build:client, lint:client, test:client

Fix last tests
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/room/room.service.spec.ts
  client/src/app/services/timer/timer.service.spec.ts
Due: build:client, lint:client, test:client

Fixed init game component test
  client/src/app/components/init-game/init-game.component.spec.ts
Due: build:client, lint:client, test:client

Fix tests in client
  client/src/app/components/board/board.component.html
  client/src/app/components/communication-box/communication-box.component.spec.ts
  client/src/app/components/init-game/init-game.component.spec.ts
  client/src/app/components/rack/rack.component.html
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/services/game/game.service.spec.ts
  client/src/app/services/messaging/messaging.service.spec.ts
  client/src/app/services/room/room.service.spec.ts
  client/src/styles.scss
Due: build:client, lint:client, test:client

Refine help command and its test
  client/src/app/services/commands/commands.service.spec.ts
Due: build:client, lint:client, test:client

Change message content
  common/system-messages.constants.ts
Due: none

Add score handler in server
  client/src/app/services/game/game.service.ts
  server/app/handlers/score-handler/score-handler.spec.ts
  server/app/handlers/score-handler/score-handler.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

convert now adapts to when it is called in game service
  common/game-config.ts
  package.json
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game/game-service.spec.ts
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

add of randomGame button and UI adjustment
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.scss
  client/src/app/pages/room-list/room-list.component.ts
Due: build:client, lint:client, test:client

Add admin component page layouts
  client/src/app/app.module.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/modules/material.module.ts
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/admin-page/admin-page.component.scss
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/pages/admin-page/admin-page.component.ts
  client/src/app/services/admin/admin.service.spec.ts
  client/src/app/services/admin/admin.service.ts
Due: build:client, lint:client, test:client

Abandoning player is now replaced by VP when game is multiplayer.
  client/src/app/services/room/room.service.ts
  server/app/handlers/player-handler/player-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Add updateScoreBoard function in score-handler
  client/src/app/services/game/game.service.ts
  server/app/controllers/room/room.controller.ts
  server/app/handlers/score-handler/score-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Comments deleted in player-handler
  server/app/handlers/player-handler/player-handler.ts
Due: build:server, lint:server, test:server

UI is set-up in waiting-room
  client/src/app/pages/room-list/room-list.component.html
  client/src/app/pages/room-list/room-list.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
Due: build:client, lint:client, test:client

Change prod server port
  client/src/environments/environment.prod.ts
Due: build:client, lint:client, test:client

Added Dockerfile and docker configs for server
  .dockerignore
  .idea/runConfigurations/docker_compose.xml
  .idea/runConfigurations/run_server.xml
  server/.dockerignore
  server/Dockerfile
  server/docker-compose.yml
Due: build:server, lint:server, test:server

Docker build pipeline test
  .gitlab-ci.yml
  server/Dockerfile
Due: build:server, lint:server, test:server

Enabled buildkit and tag condition
  .gitlab-ci.yml
Due: none

Added deployments
  .gitlab-ci.yml
Due: none

Change main page title
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.ts
Due: build:client, lint:client, test:client

Add server upload feature
  server/app/app.ts
  server/app/classes/dictionary/json-dictionary.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/services/dictionary/dictionary.service.ts
  server/package-lock.json
  server/package.json
Due: install:server, build:server, lint:server, test:server

Add .env for server database
  package.json
  server/.gitignore
  server/app/app.ts
  server/nodemon.json
Due: build:server, lint:server, test:server

Add dotenv
  package.json
  server/package-lock.json
  server/package.json
Due: install:server, build:server, lint:server, test:server

Fix preload of dotenv in nodemon.json
  server/nodemon.json
Due: build:server, lint:server, test:server

- Split DictionaryService into service and handler - Lay out bot name selection feature - Adapt code to workwih DictionaryHandler
  client/package-lock.json
  client/src/app/components/init-game/init-game.component.html
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/admin-page/admin-page.component.ts
  client/src/app/services/admin/admin.service.ts
  common/dictionary-metadata.ts
  common/index.ts
  common/json-dictionary.ts
  server/app/app.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/classes/validation/board-validator.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/handlers/dictionary/dictionary-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/board/board-generator.service.spec.ts
  server/app/services/board/board-generator.service.ts
  server/app/services/dictionary/dictionary.service.spec.ts
  server/app/services/dictionary/dictionary.service.ts
  server/app/services/game/game-service.spec.ts
  server/app/services/game/game.service.ts
Due: install:client, build:client, build:server, lint:client, lint:server, test:client, test:server

- No errors from the server after refactoring dictionary
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/admin-page/admin-page.component.ts
  client/src/app/services/admin/admin.service.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/handlers/board-handler/board-handler.ts
  server/app/handlers/session-handler/session-handler.ts
  server/app/services/board/board-generator.service.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Dictionary download now functional
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/admin-page/admin-page.component.ts
  client/src/app/services/admin/admin.service.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/services/dictionary/dictionary.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Upload now functional
  client/src/app/services/admin/admin.service.ts
  server/app/controllers/admin/admin.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Progress on bots' name update
  client/src/app/components/init-game/init-game.component.ts
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/services/admin/admin.service.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/services/dictionary/dictionary.service.ts
  server/app/services/sessionHandling/session-handling.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Working change virtual players' names
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/services/admin/admin.service.ts
  server/app/controllers/admin/admin.controller.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Default dictionary protection
  client/src/app/pages/admin-page/admin-page.component.html
  server/app/controllers/admin/admin.controller.ts
  server/app/services/dictionary/dictionary.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

- "Mute" tests with errors because of Dictionary - Add tests for AdminController
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/classes/validation/board-validator.spec.ts
  server/app/controllers/admin/admin.controller.spec.ts
  server/app/controllers/admin/admin.controller.ts
  server/app/handlers/board-handler/board-handler.spec.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/services/board/board-generator.service.spec.ts
  server/app/services/game/game-service.spec.ts
Due: build:server, lint:server, test:server

Added http error path logging
  server/app/app.ts
Due: build:server, lint:server, test:server

Pop up for opponent of quiting player
  client/src/app/app.module.ts
  client/src/app/components/opponent-quit/opponent-quit.component.html
  client/src/app/components/opponent-quit/opponent-quit.component.scss
  client/src/app/components/opponent-quit/opponent-quit.component.spec.ts
  client/src/app/components/opponent-quit/opponent-quit.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/game/game.service.ts
  server/app/controllers/room/room.controller.ts
  server/app/services/game/game.service.ts
Due: build:client, build:server, lint:client, lint:server, test:client, test:server

Add tests
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/services/admin/admin.service.spec.ts
  client/src/app/services/admin/admin.service.ts
Due: build:client, lint:client, test:client

Added VirtualPlayerExpert
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/player.ts
  server/app/classes/player/virtual-player/actions/exchange-action.ts
  server/app/classes/player/virtual-player/virtual-player-easy/actions/play-action-easy.ts
  server/app/classes/player/virtual-player/virtual-player-easy/virtual-player-easy.ts
  server/app/classes/player/virtual-player/virtual-player-expert/actions/play-action-expert.ts
  server/app/classes/player/virtual-player/virtual-player-expert/virtual-player-expert.ts
  server/app/classes/player/virtual-player/virtual-player.ts
  server/app/services/game/game.service.ts
Due: build:server, lint:server, test:server

Fixed unit tests
  server/app/classes/player/player.spec.ts
  server/app/classes/player/virtual-player/actions/exchange-action.spec.ts
  server/app/classes/player/virtual-player/actions/place-action.spec.ts
  server/app/classes/player/virtual-player/virtual-player-easy/actions/play-action-easy.spec.ts
  server/app/classes/player/virtual-player/virtual-player-easy/virtual-player-easy.spec.ts
  server/app/classes/player/virtual-player/virtual-player-expert/actions/play-action-expert.spec.ts
  server/app/classes/player/virtual-player/virtual-player-expert/virtual-player-expert.spec.ts
  server/app/classes/player/virtual-player/virtual-player.spec.ts
  server/app/handlers/player-handler/player-handler.spec.ts
  server/app/handlers/session-handler/session-handler.spec.ts
  server/app/services/sessionHandling/session-handling.service.spec.ts
Due: build:server, lint:server, test:server

Validation now returns validated words
  .idea/runConfigurations/before_merge.xml
  .idea/runConfigurations/build_server.xml
  .idea/runConfigurations/run_server.xml
  server/app/classes/player/human-player/human-player.spec.ts
  server/app/classes/player/human-player/human-player.ts
  server/app/classes/player/virtual-player/actions/place-action.spec.ts
  server/app/classes/player/virtual-player/virtual-player-easy/actions/play-action-easy.spec.ts
  server/app/classes/player/virtual-player/virtual-player-expert/actions/play-action-expert.spec.ts
  server/app/classes/validation/board-validator.spec.ts
  server/app/classes/validation/board-validator.ts
  server/app/classes/validation/validation-response.ts
  server/app/classes/virtual-player/play-generator.spec.ts
  server/app/classes/virtual-player/play-generator.ts
  server/app/handlers/board-handler/board-handler.spec.ts
  server/app/handlers/board-handler/board-handler.ts
Due: build:server, lint:server, test:server

Minor game page title fixes
  client/src/app/pages/game-mode-page/game-mode-page.component.html
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.spec.ts
  client/src/app/pages/main-page/main-page.component.ts
Due: build:client, lint:client, test:client

Path conditions:
  install:client: any of: client/package-lock.json
  install:server: any of: server/package-lock.json
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
